[2016-12-18 18:40] KalitaAlexey opened #1 "Remove all diagnostic parsing except json one"
Hi everybody,

Cargo supports emission of messages (warnings and errors) in JSON since 1.13

I don't think that anyone still uses lower version.

I want to remove all parse code of old formats.

I am going to do that in 3 days.

Has anyone any objections?

Best regards,
Alexey

[2016-12-19 08:48] W4RH4WK opened #2 "Make "newErrorFormat" default"
This is just an idea since there are a bunch of issues around with people saying that they just had to "use new error format". Should we make the "new" error format default and replace that option in the config with a `useLegacyErrorFormat` option.

[2016-12-19 08:57] KalitaAlexey commented on #2
Hi @W4RH4WK,

Please look at #1. Write your suggestions there.

[2016-12-19 09:00] W4RH4WK commented on #1
Apart from the fact that not many people may have found this repository yet, I am fine with it. I don't think parsing the raw text would give use any benefit and the "problems" panel is easiert to read anyway than the output panel.

[2016-12-19 12:27] Jascha-N commented on #1
I think it would be even better to just pass `--message-format json` to `cargo`. It makes both `rustc` *and* `cargo` output JSON messages. No more unnecessary rebuilds because the RUSTFLAGS environment variable changed between builds.

[2016-12-19 12:48] KalitaAlexey commented on #1
Hi @Jascha-N,

I thought about it. When `--message-format json` is used, then cargo emits output only at end.

[2016-12-19 12:58] Jascha-N commented on #1
Strange, not in the version I'm using: `cargo 0.16.0-nightly (ddb5c32 2016-12-16)`. It seems to flush after every message.

The problem I have with the current RUSTFLAGS solution is that if I manually want to run cargo from the terminal after building with JSON errors enabled in the extension, it has to rebuild everything from scratch. And for the project I'm working on, that takes almost 2 minute

[2016-12-19 13:03] KalitaAlexey commented on #1
Hi @Jascha-N,

As I said before I had thought about it.
Could you paste a link to gist with the output of cargo?

[2016-12-19 13:13] Jascha-N commented on #1
Here you go: https://gist.github.com/Jascha-N/2e34355b1096d99c9aeb673907610e8f

[2016-12-19 13:15] KalitaAlexey commented on #1
It is strange. I saw another output. I will re-check.

[2016-12-19 13:34] KalitaAlexey commented on #1
I checked it with the rustup with the latest stable toolchain.
It works like in the attached gist.
I will change my proposal.

[2016-12-21 17:56] CryZe commented on #2
Please don't make it the default as it is broken with both RustyCode and this fork at the moment. If anything fix it before making it the default.

[2016-12-21 17:57] KalitaAlexey commented on #2
Hi @CryZe,

I am going to delete all parsers except the parser for JSON.
Look at the #1 for motivation.

[2016-12-21 17:58] CryZe commented on #2
Yeah, just saw that as well. Seems like a good idea :)

[2016-12-21 18:08] mitskevich opened #5 "`checkWith` option is only working with `checkOnSave`."
Version: 0.1.3.

I'm trying to set up code checking with Clippy.

1. I use settings:
[code]
2. With Rust file opened, I invoke "Cargo: Check Library" command.

I expect `cargo clippy` command to be invoked, but instead I see output:
[code]

3. When I change `rust.checkOnSave` to `true`, "Cargo: Check Library" command still works the same, but checking file on saving is done with Clippy.

---

It a

[2016-12-21 19:50] KalitaAlexey commented on #5
Hi @mitskevich,

Yes, it should. I know about it. I will fix it now.

[2016-12-21 20:51] KalitaAlexey opened #7 "Allow developer to better setup the extension"
I am going to do several changes.

I want to remove the "checkOnSave", "checkWith", "features" configuration properties.

Add the new property "actionOnSave" with the following available values:
* "build" - on save it will build.
* "check" - on save it will check.
* "clippy" - on save it will check with clippy.
* "run" - on save it will run.
* "test" - on save it will test.
* null - on save it wil

[2016-12-21 20:52] KalitaAlexey commented on #5
Hi @mitskevich,

Please look at #7
Write your opinion about it.

[2016-12-21 21:41] mitskevich commented on #7
I think this would be better then what we have now.

One question though: how will the `checkArgs` option work? Will it have an effect for `"actionOnSave": "check"` or will it only work for a `Cargo: Check` command?

For example, my setup for big projects is to:
* lint quickly with `cargo check` on file saving,
* invoke Clippy manually when needed (because Clippy may take a very long time to run).

[2016-12-22 11:06] KalitaAlexey commented on #7
@mitskevich,
`checkArgs` will be used for `Cargo: Check` and for `"actionOnSave": "check"`.
I think you are right about `clippyArgs`. We need it.

[2016-12-22 11:10] KalitaAlexey commented on #1
I see only one problem here, which is a complex problems like in the code:
[code]
We can show all errors this is what I think the best choice.
I tried to use `CodeLens`, but `CodeLens` doesn't use their range.

[2016-12-22 12:07] mitskevich commented on #7
Okay, so I'll set `checkArgs` to something like `["check"]` and `"actionOnSave": "check"`. Now how I'll run Clippy manually? Will there be a command for this?

[2016-12-22 12:09] KalitaAlexey commented on #7
There is a "Cargo: Clippy" command, isn't it?

[2016-12-22 12:19] mitskevich commented on #7
Nope, there isn't. I proposed it in saviorisdead/RustyCode#221, if you want I can rebase it in your fork.

[2016-12-22 12:28] KalitaAlexey commented on #7
Oh. I see it is added, but it is internal.
Yes, please rebase it.

[2016-12-22 14:02] KalitaAlexey commented on #1
I will start implementing it.

[2016-12-22 21:20] #1 closed

[2016-12-22 21:23] KalitaAlexey commented on #2
I am closing this issue because I have committed transition to `--message-format json`.

[2016-12-22 21:23] #2 closed

[2016-12-22 21:24] KalitaAlexey commented on #5
@mitskevich,
Could you close it in favor of #7?

[2016-12-22 21:45] #5 closed

[2016-12-23 11:06] KalitaAlexey commented on #7
I have started working on it.

[2016-12-23 11:13] KalitaAlexey opened #10 "Replace the "checkOnSave" and "checkWith" parameters with a new "actionOnSave" parameter"
Remove the "checkOnSave", "checkWith" configuration properties.

Add a new property "actionOnSave" with the following available values:
* "build" - on save it will build.
* "check" - on save it will check.
* "clippy" - on save it will check with clippy.
* "run" - on save it will run.
* "test" - on save it will test.
* null - on save it will do nothing.

[2016-12-23 11:13] KalitaAlexey commented on #10
I am working on it.

[2016-12-23 11:15] KalitaAlexey opened #11 "Add configuration parameters which allow to pass arguments to a cargo invocation"
Remove the "features" property.

Add the new property "buildArgs", which is an array of strings.
This property will be used when any build command is invoked.

Add the new property "checkArgs", which is an array of strings.
This property will be used when any check command is invoked.

Add the new property "clippyArgs", which is an array of strings.
This property will be used when a clippy command

[2016-12-23 11:15] KalitaAlexey commented on #11
I am working on it.

[2016-12-23 11:27] KalitaAlexey commented on #7
I have split this issue into two:
#10 and #11

[2016-12-23 11:27] #7 closed

[2016-12-23 13:06] #11 closed

[2016-12-23 18:27] #10 closed

[2016-12-24 22:27] W4RH4WK opened #13 "Remove cargo check library"
In the past cargo was not able to check all targets of a project in one go. Even worse you had to specify `--lib` if the project contained a library together with one or multiple binaries. Because of this a variation of the *cargo check* command was introduced.

Now cargo checks all targets, without any additional flags required. Therefore I suggest dropping the *cargo check library* command.

[2016-12-24 23:12] Timmmm opened #14 "warning: the option `Z` is unstable and should only be used on the nightly compiler"
I get this warning:

    warning: the option `Z` is unstable and should only be used on the nightly compiler, but it is currently accepted for backwards compatibility; this will soon change, see issue #31847 for more details

This is with the json error format option enabled. Also the json option means link errors aren't shown.

[2016-12-25 09:13] KalitaAlexey commented on #13
Hi @W4RH4WK,

I agree with you, but my motivation is different. I have added **checkArgs** so there is no need additional command.

[2016-12-25 09:14] KalitaAlexey commented on #14
Hi @Timmmm,

I have already fixed it in master branch, but I didn't update the extension.
I will update it.

[2016-12-25 09:18] W4RH4WK commented on #13
Oh, I see. I like it. Thanks.

[2016-12-25 09:19] W4RH4WK commented on #13
I'll better let you close the issue after check lib has been removed.

[2016-12-25 09:22] KalitaAlexey commented on #13
@W4RH4WK,
Yes.

[2016-12-25 09:48] KalitaAlexey commented on #14
@Timmmm,
I have updated a version of the extension.
Please update to it.
Check it for link errors.
If there are link errors which aren't shown, please open a new issue with steps to reproduce it.
Thanks.

[2016-12-25 09:48] #14 closed

[2016-12-25 10:11] W4RH4WK opened #15 "Re: A question about github"
I am sorry to answer you through this means, but apparently outlook.com does not accept mails from my mail server.

Here my reply

[code]

[2016-12-25 10:18] KalitaAlexey commented on #15
Thanks.

[2016-12-25 10:19] Jascha-N opened #16 "Flush cargo output after every line"
It would be nice if the non-JSON stdout and stderr from cargo were immediately displayed in the output panel instead of only flushing everything out at the end of the cargo invocation. There is currently no way to see the cargo progress (like "Compiling \<package\>...") or see any output from your program (like log messages) until cargo exits.

[2016-12-25 10:19] #15 closed

[2016-12-25 10:23] KalitaAlexey commented on #16
@Jascha-N,
Unfortunately, I did it because it was the simplest solution.
I did it because **ChildProcess** of **NodeJs** sometimes doesn't emit **on 'data'** event instead of it caches it and then outputs part of it.
I understand that it is a problem.
I will fix this as soon as possible.
Thanks

[2016-12-25 12:36] CryZe opened #18 "Errors don't appear in 0.2.0"
The settings for choosing the error format disappeared in the new version, which is intended. But now it uses the broken new error format instead of the JSON error format it seems. The JSON error format is the only one that worked with this extension.

Also since it breaks with the new error format, it only does the check on save once and then stops doing it since it crashes.

[2016-12-25 12:38] KalitaAlexey commented on #18
@CryZe,
Let me check.

[2016-12-25 12:39] KalitaAlexey commented on #18
@CryZe,
You are trying build an example, don't you?
I am sorry I have broken this. I will fix it right now.

[2016-12-25 12:42] CryZe commented on #18
Well, the diffs suggest that it should be using the JSON error format from now on, but it behaves like the "new error format" instead and breaks just like it did. So I'm not quite sure what's happening.

[2016-12-25 12:43] KalitaAlexey commented on #18
@CryZe, What are you tryign to build?

[2016-12-25 12:46] KalitaAlexey commented on #18
I have broken a lot of. I am sorry.

[2016-12-25 12:47] KalitaAlexey commented on #18
I should go out for 15 minutes. I will return and will it.

[2016-12-25 12:53] CryZe commented on #18
It breaks with Hello World as you can see here:

![https://puu.sh/t0A1Q.png](https://puu.sh/t0A1Q.png)

As you can see, no error highlighting and no error count bottom left. And if I press CTRL+S again, nothing happens anymore.

[2016-12-25 12:59] CryZe commented on #18
Okay, I figured out why. You are only passing --message-format json to build and not the other actionOnSave options, so they are using the "new error format" instead of the json error format, which 0.2.0 can't parse anymore.

[2016-12-25 13:06] CryZe commented on #18
[code]

This seems to work as a temporary fix.

[2016-12-25 13:36] KalitaAlexey commented on #18
@CryZe, I am working on it.

[2016-12-25 13:46] KalitaAlexey commented on #18
I have fixed it and I published an update.

[2016-12-25 13:49] KalitaAlexey commented on #18
I made a mistake.

[2016-12-25 14:11] CryZe commented on #18
Still missing for clippy apparently.

[2016-12-25 14:13] KalitaAlexey commented on #18
@CryZe, clippy doesn't support it.

[2016-12-25 14:18] CryZe commented on #18
It does support it. Maybe you use an old version?

[code]

[2016-12-25 14:19] KalitaAlexey commented on #18
@CryZe, Maybe. I will fix it in a later release.

[2016-12-25 14:21] KalitaAlexey opened #19 ""Cargo: Clippy" doesn't output in JSON"
Hi everybody,

Unfortunately, when I used outdated **cargo-clippy**, so I didn't write code to make **cargo-clippy** print messages in JSON.

This is going to be fixed in 0.2.3

Regards,
Alexey

[2016-12-25 14:23] CryZe commented on #18
Can you reopen this in the meantime so you don't forget? Also since the workaround with the rust.clippyArgs works, it's fine if it's not that high of a priority ^^

[2016-12-25 14:31] KalitaAlexey commented on #18
Okay.

[2016-12-25 14:31] #18 closed

[2016-12-25 16:23] KalitaAlexey commented on #18
@CryZe,
Actually **Clippy** doesn't show that it supports `--message-format` in `--help`.

[2016-12-25 16:41] #19 closed

[2016-12-25 16:44] #16 closed

[2016-12-25 17:45] KalitaAlexey opened #22 "Allow a user to specify custom configurations for "build", "check", "clippy", "run", test""
Hi everybody,

Currently there are the following configuration properties: "buildArgs", "checkArgs", "clippyArgs", "runArgs", "testArgs".

It allows a user to specify what arguments are passed to a cargo invocation.

But it is a little inconvenient.

Let's assume we want to build a project with two pairs of features.
Currently we must change **buildArgs** to build with the first features.
Then we

[2016-12-25 17:45] KalitaAlexey commented on #13
@W4RH4WK,
I have opened the issue: #22.

[2016-12-26 06:40] cissusnar opened #23 "terminate running task is not work"
use following code:

use std::{thread, time};

fn main() {
    loop {
        let ten_millis = time::Duration::from_millis(1000);
        thread::sleep(ten_millis);
        println!("ok ...");
    }
}

then shift+cmd+p, select "Cargo: Run Debug"

after that,  shift+cmd+p, select "Cargo: Terminate Running Task"

task is still running.

[2016-12-26 06:54] KalitaAlexey commented on #23
@cissusnar,
Can you submit a solution for the problem or anyone can take the issue?

[2016-12-26 07:13] cissusnar commented on #23
I'm using vscode 1.8.1 on my Macbook and iMac,  maybe a OS X problem.  I'll trying to fix, but not sure I can do.   :)

[2016-12-26 07:18] KalitaAlexey commented on #23
@cissusnar,
Do you need some guidance?

[2016-12-26 07:33] KalitaAlexey commented on #23
@cissusnar, the problem happens on Windows too.
If you want, I can fix it myself.

[2016-12-26 07:36] cissusnar commented on #23
@KalitaAlexey I guess this issue is a 'Task management' problem in 'commandService.js'.
I am not familiar with vscode extensions development, I hope you can fix it! thank you very much :)

[2016-12-26 07:37] KalitaAlexey commented on #23
@cissusnar, Okay.

[2016-12-26 07:46] KalitaAlexey commented on #23
@cissusnar, it seems to me running is terminated, but a terminal isn't cleared.
Are you sure that your app is running after your executed terminate?
You can use ps ax to find out.

[2016-12-26 07:52] cissusnar commented on #23
@KalitaAlexey I can sure task is still running, because I can't execute 'Cargo: Build Debug' or 'Cargo: Run Debug'.  must execute 'killall $process_name' to kill that process.

[2016-12-26 08:06] KalitaAlexey commented on #23
@cissusnar, it is bad. It seems to me that it is a MacOS specific issue.
Do you have time to fix that? I can guide you.

[2016-12-26 08:13] KalitaAlexey commented on #23
@cissusnar,
Set breakpoint to the following lines in the **commandService.ts**:

* 163 - `this.process.removeAllListeners();`

  Execute code line by line.
  It should call `reject();` in `if (this.interrupted) {`

* 178 - `if (!this.interrupted && this.process) {`

  Check values of `this.interrupted` and `this.process`.
  `this.interrupted` should be `false`.
  `this.process` shouldn't be null o

[2016-12-26 08:17] cissusnar commented on #23
thank you @KalitaAlexey ,  I can try it :)

[2016-12-26 08:26] KalitaAlexey commented on #23
I assigned the issue to you.

[2016-12-26 08:28] KalitaAlexey commented on #23
@mitskevich, Hi. You have MacOS, don't you?

[2016-12-26 09:33] cissusnar commented on #23
@KalitaAlexey
code is clean, problem in this function:

    public kill(): Thenable<any> {
        return new Promise(resolve => {
            if (!this.interrupted && this.process) {
                kill(this.process.pid, 'SIGINT', resolve);
                this.interrupted = true;
            }
        });
    }

SIGINT has no effect,  SIGKILL works fine,  I've no idea....

[2016-12-26 09:37] KalitaAlexey commented on #23
Does it stop at 163 line?

[2016-12-26 09:39] cissusnar commented on #23
kill(this.process.pid, 'SIGINT', resolve);

use SIGINT not stop at 163 line。
SIGKILL stop

[2016-12-26 09:44] KalitaAlexey commented on #23
@cissusnar, could you open a terminal. Execute `cargo run`. then determine pid of the `cargo run` invocation. Then `kill -SIGINT pid`. Write results.

[2016-12-26 09:48] cissusnar commented on #23
501 36730 36426   0  5:45下午 ttys001    0:00.01 cargo run
  501 36731 36730   0  5:45下午 ttys001    0:00.06 target/debug/web_api
execute ' kill -SIGINT 36730 ',  process is still running
execute 'kill -SIGINT 36731', process terminated

@KalitaAlexey

[2016-12-26 09:52] KalitaAlexey commented on #23
@cissusnar,
Attach:
[code]

[2016-12-26 09:52] cissusnar commented on #23
cargo 0.15.0-nightly (298a012 2016-12-20)
rustc 1.14.0 (e8a012324 2016-12-16)

[2016-12-26 09:54] KalitaAlexey commented on #23
Execute:
[code]
Write results.

[2016-12-26 09:55] KalitaAlexey commented on #23
I checked the same on Linux. It terminates.

[2016-12-26 09:59] cissusnar commented on #23
501 38110     1   0  5:55下午 ttys000    2:12.29 target/debug/t
cargo run is terminated,
but t's  parent process become to 1 and still running

[2016-12-26 10:00] KalitaAlexey commented on #23
@cissusnar,
I am sorry, but I haven't understood you.
Whose parent process is still running?
What does become 1?

[2016-12-26 10:05] cissusnar commented on #23
ps -ef
501 39047 37780   0  6:03下午 ttys000    0:00.01 cargo run
501 39048 39047   0  6:03下午 ttys000    0:03.22 target/debug/t

kill -SIGINT 39047

ps -ef
501 39048     1   0  6:03下午 ttys000    0:38.60 target/debug/t

not good at english :) , I mean 'target/debug/t' is still running, and it's parent process become to 1

[2016-12-26 10:07] KalitaAlexey commented on #23
@cissusnar,
Please run `cargo run` and then press CTRL+C. It should stop. Then execute `ps` to find out whether `t` is terminated too.

[2016-12-26 10:11] cissusnar commented on #23
CRTL+C is works,  all subprocess is terminated.

[2016-12-26 10:13] KalitaAlexey commented on #23
@cissusnar,
Anyway it is a problem of cargo on MacOS, not the extension.
Could you create an issue on the cargo repository and mention this issue there?

[2016-12-26 10:15] cissusnar commented on #23
@KalitaAlexey OK, I understand, thx :)

[2016-12-26 10:16] KalitaAlexey commented on #23
@cissusnar,
Keep the issue opened for other can easily discover it.

[2016-12-27 06:29] nelsonjchen opened #25 "The gitter link added in the README.md does not work."
It links back to this GitHub repository and accessing the [probable URL](https://gitter.im/KalitaAlexey/vscode-rust) directly on gitter.com does not appear to work.

[2016-12-27 07:02] KalitaAlexey commented on #25
@nelsonjchen, Something went wrong. I will fix it.

[2016-12-27 08:22] KalitaAlexey commented on #25
I have fixed it.

[2016-12-27 08:22] #25 closed

[2016-12-27 11:54] KalitaAlexey commented on #23
That's an issue: https://github.com/rust-lang/cargo/issues/3460

[2016-12-27 12:14] KalitaAlexey opened #26 "Remove `cargo check` fallback to `cargo rustc -- -Zno-trans` when `cargo-check` is stabilized"
In **cargo** added a new command **check**.
Currently it is in nightly.
When it is stabilized fallback to `cargo rustc -- -Znotrans` should be deleted.

[2016-12-27 19:37] KalitaAlexey commented on #22
I have started working on it.

[2016-12-27 19:39] KalitaAlexey commented on #22
I have added custom configurations for `cargo test`. Anyone can try it out.

[2016-12-27 22:17] #22 closed

[2016-12-28 03:59] Beamed opened #28 "Autocomplete causes Inconsistent Behavior on macOS"
See screenshot below.

When attempting to call a function or member variable of a type, whether defined by an external crate(such as sdl2 in the below screenshot), or even a std::vec, no function signatures appear.

This occurs with "Racer: on" on the bottom left, and "Rust source" on the bottom right, so the obvious candidates are ruled out. My Rust Source setting is pointing to the correct direc

[2016-12-28 05:05] KalitaAlexey commented on #28
Hi @Beamed,
I cannot figure out what exactly in your opinion is a bug.
There is no the bug in the issue's description.
Could you write what you expect and what you get.
Thanks

[2016-12-28 05:06] KalitaAlexey commented on #13
Since I have committed code to close #22 there is no "Cargo: Check Library` command.

[2016-12-28 05:06] #13 closed

[2016-12-28 05:50] Beamed commented on #28
Sure, sorry for being unclear.

What I'm expecting is, when I attempt to make a call to a method, the function methods to appear when I press ".", and then as I type, filter down to the methods I'm attempting to call.

However, instead I don't see any methods appear. If I attempt to create or reference std:: functions or instantiate objects - such as vec - these stubs do correctly appear and fill.

[2016-12-28 06:46] KalitaAlexey commented on #28
@Beamed,
Let me check whether I understand you right.
You write **video**.
You write **.**.
You expect appearing of autocompletion, but there is no autocompletion.

Is it right?

Write here versions of SDL2 dependency you are using.

[2016-12-28 09:28] KalitaAlexey commented on #28
@Beamed,
Execute `cargo build`.
It should fail. It doesn't matter.
Try autocompletion again.
If it works, it is a racer specific.

[2016-12-28 14:16] KalitaAlexey commented on #28
Okay. It is a bug of racer: https://github.com/phildawes/racer/issues/337

[2016-12-28 14:16] KalitaAlexey commented on #28
Keep the issue open.

[2016-12-28 17:52] Beamed commented on #28
Thanks for your attention to this issue!

I agree that that above issue seems to be a racer bug. However, I am concerned that I see it with other, standard types as well.

For example, I see the following:

[code]

There is no autocomplete after pressing the '.' for the vector. I am new to Rust, so sorry if I betray a misunderstanding, but shouldn't functions such as pop, push, len, etc. appear as

[2016-12-28 17:55] KalitaAlexey commented on #28
@Beamed,
Let me check whether it is a bug of the extension.

[2016-12-28 17:58] KalitaAlexey commented on #28
Oh. Right. I am from wrong computer.
You can check it yourself.
Open main.rs in the VSCode.
Write
[code]
Place the cursor before *.*
Remember line and column
Open a terminal.
Write:
[code]
If the output is only
[code]
It is a bug of racer.

[2016-12-28 17:59] KalitaAlexey commented on #28
If some instruction is unclear let me know.

[2016-12-28 18:13] Beamed commented on #28
Yes, that is the only output. I see the following:

[code]
Does this indicate racer is unable to autocomplete on macOS at present? I will go review their issues page to see if they have an open issue as well.

[2016-12-28 18:28] KalitaAlexey commented on #28
@Beamed,
It isn't a bug on MacOS.
It is a bug in racer.
The same behavior on all platforms.
I know why it is.
Change your example to
[code]
and
`myVec.` will trigger autocompletion.

[2016-12-28 18:33] Beamed commented on #28
No such luck:
![image](https://cloud.githubusercontent.com/assets/4295634/21528667/386c059e-cd02-11e6-949d-89811a1e0d48.png)

[2016-12-28 18:48] W4RH4WK opened #29 "Exception on check if no document is open"
If you run cargo check from within vscode without an open document the following exception is thrown

[code]

[2016-12-28 18:50] KalitaAlexey commented on #29
Hi @W4RH4WK,
It is bad.
I will fix it.

[2016-12-28 18:51] KalitaAlexey commented on #28
Hm. I get autocompletion.

[2016-12-28 18:53] KalitaAlexey commented on #28
Which version of racer do you have?
Try to upgrade it.
[code]

[2016-12-28 18:54] W4RH4WK commented on #29
Thanks for the great work.

[2016-12-28 19:00] Beamed commented on #28
[code]

[2016-12-28 19:02] KalitaAlexey commented on #29
@W4RH4WK,
Did you try custom configurations?

[2016-12-28 19:08] #29 closed

[2016-12-28 19:10] KalitaAlexey commented on #28
Okay then.
I close the issue since there is already opened issue related macros in racer.

[2016-12-28 19:10] #28 closed

[2016-12-28 19:18] KalitaAlexey commented on #29
@W4RH4WK,
I added gitter chat.
Can you enter there?

[2016-12-29 08:25] sinkuu opened #30 "Racer crash is not restored"
When racer is crashed, `Racer: Off` is shown in the statusbar and racer is not restarted.

Steps to reproduce the problem:

I'm using Linux 4.8.13-1-ARCH x86_64 GNU/Linux, node.js v6.5.0, vscode 1.8.1, racer 2.0.3.

1. Crash racer. e.g. Copy this snippet and try typing `r` after the `c` in the main fn. This will crash racer with stack overflow.

[code]

2. Somehow [`stopDaemon`](https://github.com

[2016-12-29 09:15] KalitaAlexey commented on #30
@sinkuu,
I have no the problem.
I have the same version of racer.
But we have different versions of node.
I have 6.9.2 - it is the latest stable.

[2016-12-29 09:21] KalitaAlexey commented on #30
Anyway I have opened an issue to racer: https://github.com/phildawes/racer/issues/673

[2016-12-29 09:35] sinkuu commented on #30
Thanks for the investigation! I'm using old node.js binary included in non-OSS version of VSCode. I'll try to install the OSS version to use the system-wide node.js.

[2016-12-29 09:42] KalitaAlexey commented on #30
@sinkuu,
Write about it later.
Anyway what OS do you use?

[2016-12-29 11:16] sinkuu commented on #30
It worked:smile:

I'm using Arch Linux.

[2016-12-29 11:16] #30 closed

[2016-12-29 11:32] KalitaAlexey commented on #30
@sinkuu,
Good.

[2016-12-29 11:34] KalitaAlexey commented on #23
It is an issue of rustup.

[2016-12-29 12:10] KalitaAlexey opened #32 "Allow a user to create a playground project in a temporary directory"
Hi everybody.

# Description

I want to add a new command "Cargo: Start playground".

Executing of the new command
shows a quick pick dialog with the two choices: "Binary", "Library".
If a user cancels the quick pick dialog nothing happens.
A choice determines what kind of a project is created.
If a user chooses a certain choice
the extension creates a project in the OS-specific temporary director

[2016-12-29 17:47] ntruessel commented on #23
The same problem occurs on Linux (archlinux). Instead of sending SIGINT to cargo, one could try to send SIGTERM, which works fine on my machine (terminates both cargo and its child).

[2016-12-29 17:59] mitskevich commented on #23
To summarize what was mentioned before: Rustup starts separate cargo process when invoked. Here is what I see with `cargo build` on the background:

[code]

The actual working process is `99855`. Its parent is `99854`, the `cargo build` command that I executed.

When I send SIGINT to `99854` (parent), it stops, I gain Bash prompt back, but the console output is keeping appearing because build stil

[2016-12-29 19:17] KalitaAlexey commented on #23
@mitskevich,
Are you sure that it works?
Look for your application
`grep 'target/'

[2016-12-29 19:18] ntruessel commented on #23
Is there a reason against using SIGTERM instead of SIGINT?

[2016-12-29 19:23] KalitaAlexey commented on #23
@ntruessel,
I haven't thought about it. It had been made before.

[2016-12-29 21:49] Calrama opened #34 "Forking issues"
I considered switching over to this from the original RustyCode (seeing as it hasn't been updated in quite a while despite open PRs), but the following issues prevented me from doing so:

### 1) Possible License violation
The original RustyCode's [license](https://github.com/saviorisdead/RustyCode/commit/ca3fa038feff3a070a92b05b90ff9739b977f81d) is *MIT*, which clearly states:

You have simply [wi

[2016-12-30 05:05] KalitaAlexey commented on #34
Hi @Calrama,
Can I ask a permission to delete original license from the author?
If not I can revert license back.
I don't care about it.
What exactly treats like his work?
Because currently the extension is under development.
Let me know if you have ideas.

[2016-12-30 05:12] #23 closed

[2016-12-30 05:17] KalitaAlexey opened #35 "Change termination from SIGTERM to SIGINT"
Hi everybody.

It was changed from SIGINT to SIGTERM in the PR: https://github.com/KalitaAlexey/vscode-rust/pull/33
It was made because rustup had an issue with SIGINT: https://github.com/rust-lang-nursery/rustup.rs/issues/806
If the issue of rustup is fixed we need to change SIGTERM to SIGINT.

[2016-12-30 08:12] Calrama commented on #34
Hi @KalitaAlexey,

If you want ideas about what seems to be considered acceptable by some people, you might look at [this](http://softwareengineering.stackexchange.com/questions/157968/how-to-manage-a-copyright-notice-in-an-open-source-project/158011#158011), [this](http://softwareengineering.stackexchange.com/questions/277688/if-i-fork-a-project-on-github-that-is-licensed-under-mit-how-to-i-handl

[2016-12-30 08:31] KalitaAlexey commented on #34
@Calrama,
I had a discussion with a friend of mine.
He said me to revert the original license and add a line with my name under the original author.
I will do it soon.

[2016-12-30 09:16] KalitaAlexey commented on #34
@Calrama,
I returned the original author.

[2016-12-30 09:19] KalitaAlexey commented on #34
I removed all tags.

If everything is okay, close the issue.

[2016-12-30 09:23] Calrama commented on #34
@KalitaAlexey Thank you, that's the blocking ones, so I'll be closing now, though I would like to know if you intend on providing git tags for your future releases of vscode-rust?

[2016-12-30 09:23] #34 closed

[2016-12-30 09:25] KalitaAlexey commented on #34
@Calrama,
I don't see value in them.

Would you like me to provide git tags?

[2016-12-30 09:38] Calrama commented on #34
@KalitaAlexey I see. Personally, the value I see in them is related to developers being able to quickly check out specific released versions. For example, if I were using the latest master changes of vscode-rust locally (e.g. by having the git repo checkout out on branch master in my `~/.vscode/extensions`) and discovered a bug (e.g. a regression) I could perform a quick `git bisect` between the g

[2016-12-30 13:19] KalitaAlexey opened #36 "Change current working directory resolution strategy"
# Current algorithm

* If there is no active text editor:
  * An error is shown.
* Otherwise:
  * If a file opened in the active text editor and the file located outside of workspace:
    * An error is shown.
  * Otherwise:
    * Look for **Cargo.toml** firstly near the file secondly up to a file until root.
    * If **Cargo.toml** is found:
      * A directory containing the **Cargo.toml** is use

[2017-01-03 10:30] #36 closed

[2017-01-03 10:43] KalitaAlexey commented on #32
Unfortunately,
I haven't found a way to open a new window using API.
I can require **code** to be accessible from a command line, but I don't like the idea.
I have opened an issue describing my proposal: https://github.com/Microsoft/vscode/issues/18034
The issue is postponed until some resolution of the issue in the vscode repository.

[2017-01-05 06:05] KalitaAlexey commented on #32
I have found a way. It is `vscode.openFolder` command.

[2017-01-05 06:51] #32 closed

[2017-01-05 08:18] chipshorter opened #38 "vscode-rust not detecting PATH correctly"
Hi,

vscode-rust: 0.3.0
code: 1.81
macOS: Sierra

This is basically the same issue as:- https://github.com/saviorisdead/RustyCode/issues/218

I switched to this plugin when it was indicated that this issue was fixed on the RustyCode issue log, but I still experience the same problems as I did with RustyCode.

I've tried all combinations of absolute paths and relative paths, but I've been unable to

[2017-01-05 08:21] KalitaAlexey commented on #38
@chipshorter,
Don't use **~**.

[2017-01-05 08:37] chipshorter commented on #38
If I switch to absolute paths, like

[code]

I still get problems. For example, an attempt to run cargo with ```ctrl+shift+R``` gives ```command 'rust.cargo.run.default' not found```, although I can easily run cargo from the in-built terminal.

[2017-01-05 08:38] KalitaAlexey commented on #38
**rust.racerPath** should be **/Users/chris/.cargo/bin/racer**. It points to a racer binary.

[2017-01-05 08:39] KalitaAlexey commented on #38
@chipshorter,
But it should automatically find it out.
What do you get if you don't set neither **racerPath** nor **rustfmtPath** nor **rustsymPath**?

[2017-01-05 08:57] chipshorter commented on #38
If I set them to ```null``` I get ```Rust Tools Missing```

If I set to ```/Users/chris/.cargo/bin/racer``` as you suggested it does find racer.

I need to experiment a bit more I think. Thanks for your help, and for the effort you are putting into this extension.

[2017-01-05 09:01] KalitaAlexey commented on #38
@chipshorter,
How does it finds it in a terminal?

[2017-01-05 09:04] KalitaAlexey commented on #38
Can you test a version?
I wonder whether a small change fixes the problem.
I can upload it here.
I don't want to publish it yet.

[2017-01-05 09:08] KalitaAlexey commented on #38
@chipshorter,
How do you open VSCode?

[2017-01-05 11:39] chipshorter commented on #38
Sorry for the delay in answering, I'm at work, so things got in the way :-)

I'm not seeing the 0.3.1 version in VS Code yet, it's still at 0.3.0, but as soon as it shows up I will do the tests you suggest.

But to answer your other questions:-
_How does it find it in a terminal?_
my ```.bash_profile``` looks like this

[code]

_How do you open VSCode?_
I just double-click that application

[2017-01-05 11:40] KalitaAlexey commented on #38
@chipshorter,
Uninstall the extension, reload VSCode, install the extension.

[2017-01-05 11:41] KalitaAlexey commented on #38
@chipshorter,
We will know everything after attaching logs.

[2017-01-05 11:46] chipshorter commented on #38
I hope this is what you are after
[code]

[2017-01-05 11:54] KalitaAlexey commented on #38
@chipshorter,
Can you change "~/.cargo/bin" to "/Users/you/.cargo/bin" and restart your computer?
And write what you will get.

[2017-01-05 12:07] chipshorter commented on #38
That seems to have done the trick! I really appreciate the effort you have gone to in helping me with this. Thanks!

[code]

[2017-01-05 12:17] KalitaAlexey commented on #38
It isn't a solution.

[2017-01-05 12:17] KalitaAlexey commented on #38
I want you to try a package which I will prepare. Can you?

[2017-01-05 12:22] chipshorter commented on #38
Sure, I'll be glad to help in any way I can. I have to go out this afternoon unfortunately, so it may be later if that is OK

btw. I wrote you a nice review on ((https://marketplace.visualstudio.com/items?itemName=kalitaalexey.vscode-rust&showReviewDialog=true))

[2017-01-05 12:29] KalitaAlexey commented on #38
I will attach the extension here

[2017-01-06 07:45] KalitaAlexey commented on #38
@chipshorter,
I can actually make the extension replace ~ with env['HOME'].
It is defined on both Linux and MacOS, isn't it?

[2017-01-06 08:20] chipshorter commented on #38
I'm not 100% sure, but I can test it on MacOS.

[2017-01-06 09:22] KalitaAlexey commented on #38
@chipshorter,
It is defined.
I will make it.

[2017-01-06 10:19] #38 closed

[2017-01-06 11:40] dfaust opened #39 "Activating extension `kalitaalexey.vscode-rust` failed"
Version of VSCode: 1.8.1
Version of the extension: 0.3.2
OS: Linux

Description:
After updating from 0.3.0 to 0.3.2, vscode-rust doesn't work anymore. The vscode developer tools console shows:
[Extension Host] Activating extension `kalitaalexey.vscode-rust` failed: {1}.
[Extension Host] Activating extension `kalitaalexey.vscode-rust` failed:  undefined
[Extension Host] Here is the error stack:  un

[2017-01-06 11:49] KalitaAlexey commented on #39
Hm. Let me check.

[2017-01-06 11:50] LeMoussel opened #40 "Why this fork?"
I didn't find informations about/on why this fork.
Can you explain why this fork exists ?

[2017-01-06 12:15] CryZe commented on #40
Because the original author is often gone for multiple months which often means there's tons of Pull Requests going on that are waiting months to be merged. And since the Rust project itself is progressing a lot, this often means that RustyCode is far from up to date when it comes to new clippy, racer, rustup, rustc features / changes.

[2017-01-06 12:40] KalitaAlexey commented on #39
@dfaust,
Can you clone the repository and to start the extension from source?

[2017-01-06 12:44] dfaust commented on #39
Can you be a little bit more specific?

[2017-01-06 12:44] KalitaAlexey commented on #39
@dfaust,
Please enter gitter room.
Let's discuss there.
I need to go out for 15 minutes.

[2017-01-06 13:02] LeMoussel commented on #40
OK. No Update for Rusty Code, Regular update for vscode-rust.
Does vscode-rust. is on [Visual Studio Marketplace](https://marketplace.visualstudio.com/)?

[2017-01-06 13:06] CryZe commented on #40
Yeah, it's called Rust as far as I know.

[2017-01-06 13:17] KalitaAlexey commented on #40
@LeMoussel,
I will add a link to the extension on the Visual Studio Code Marketplace.

[2017-01-06 13:18] KalitaAlexey commented on #39
Thanks to @dfaust,
I have found a mistake which I had made.

[2017-01-06 13:23] KalitaAlexey commented on #39
I have fixed the problem in the commit: https://github.com/KalitaAlexey/vscode-rust/commit/c44b3c6a61942c87b0693459a9874bf76cbd8193

[2017-01-06 13:23] #39 closed

[2017-01-06 13:31] KalitaAlexey commented on #40
README.md already contains installation steps, but I have added a link to the extension to the marketplace.

[2017-01-06 15:08] #40 closed

[2017-01-13 17:39] anderejd opened #41 "Documentation for "rust.customBuildConfigurations""
Version of VSCode: 1.8.1
Version of the extension: 0.3.5
OS: Windows 10

Description:
I cannot figure out how to use "rust.customBuildConfigurations".
Reading the code it seems to me that the elements should be strings, I tried "rust.customBuildConfigurations": ~~["--debug"]~~ (there is no --debug flag for cargo, I was confused) but the command seems to do nothing, no error message.
I expected the

[2017-01-13 18:14] anderejd commented on #41
I figured it out :) I had no idea vscode would autocomplete the settings values while typing, very nice feature.

Here is the settings I am using now, working perfectly:

[code]

[2017-01-13 18:25] KalitaAlexey commented on #41
@anderejd,
Hi.
Thanks for you feedback.
I will add a page on wiki soon.
I will close the issue as soon as I add the page.

[2017-01-14 08:26] KalitaAlexey commented on #41
@anderejd,
I have added some pages on the wiki.
I am closing the issue.

[2017-01-14 08:26] #41 closed

[2017-01-14 17:39] Gordon-F opened #42 "Rustup integration"
How about add Rustup integration?

I think we must add this list of commands:

* self update
* update
* change default toolchain
* install new toolchain
* install new target

[2017-01-14 18:07] KalitaAlexey commented on #42
@Gordon-F,
Hi.
How do you imagine this?
I would like to have a status bar item "Rustup".
If I click on the item, then the extension shows a quick pick.
With aforementioned options as items.
That would allow us to extend it without problems.
What do you think?

[2017-01-15 19:19] Gordon-F commented on #42
@KalitaAlexey We can add something for executing rustup task like cargo tasks. I already send PR #37 for showing rust tools versions in status bar. Actually with VSCode status bar API we can use only one command on status bar.
I think we can do something like:
Click on rustup version - execute command "rustup update"
Click on rustc version - execute command for changing rust channel
For other rust

[2017-01-15 19:58] KalitaAlexey commented on #42
@Gordon-F,
I don't like what you suggest.
I am thinking about a simple and expressive way of integrating rustup.
I will write my thoughts later.

[2017-01-16 15:57] KalitaAlexey commented on #42
@Gordon-F,
I don't like the entire idea.
I am asking for opinions from everybody.

[2017-01-17 10:44] KalitaAlexey commented on #42
I am against the idea because VSCode offers an integrated terminal.
You can open it and execute a rustup command.

[2017-01-17 10:49] anderejd commented on #42
For rust beginners I think integration sounds like a nice idea. Install vscode with the rust plugin and everything you need to build and run rust code will be installed automatically. Sound sweet right?

[2017-01-17 10:51] anderejd commented on #42
Or turn it around, make an RFC to rustup to allow rustup to install vscode with the rust plugin?

[2017-01-17 11:41] andela-bkagia opened #43 "snippets contain unnecessary backslashes"
Version of VSCode: 1.8.1
Version of the extension: 0.35
OS: macOS Sierra

Description: certain snippets include an unnecessary `\`

example:

[code]

I intend to fix this by removing unnecessary escapes for braces, as these seem to be escaped automatically.

example:
[code]

into

[code]

[2017-01-17 12:26] KalitaAlexey commented on #42
@anderejd,

No, it don't.
It at least should ask a permission to do that.
Installation of rust via rustup can be customized.
We can use an integrated terminal to do that, but why should we?
Also think about installation of rustup on Windows.
It is more complicated.

EDIT: I think the Rust project should provide and promote an official Rust IDE, and I think that could be vscode with this plugin.

V

[2017-01-17 12:53] #43 closed

[2017-01-17 13:09] anderejd commented on #42
With the rust plugin, racer etc. I consider vscode an IDE for rust. I'm usually using vim for new languages but this time I wanted to explore IDEs and found your fork of this plugin. So, from my perspective, vscode with appropriate plugins installed are an IDE, and the reason I came here in the first place :) I hope that does not seem like I'm picking a flame war.

[2017-01-17 13:14] KalitaAlexey commented on #42
@anderejd,
Yes, but you install the extension after you installed Rust, right?

[2017-01-17 13:32] anderejd commented on #42
Yes I'm using rustup from the command line, the normal way. I am also very comfortable with working from the command line and usually prefer it, however I know that a lot of people do want GUI:s for everything and I can appreciate that point of view. The reason I think this issue is interesting is that it could help streamline the experience for people coming to write their first line of rust.

[2017-01-17 13:48] KalitaAlexey commented on #42
@anderejd,
VSCode has poor support for GUI stuff.
As I said to @Gordon-F, I think that each rustup feature should be considered separately in separate issues.
If you have something that you want to have, please open an issue and let's discuss it there.

[2017-01-18 06:45] zmanian opened #45 "Integrate the Rust Language Server"
The Rust Language Server ships their own VS code plugin https://github.com/jonathandturner/rls_vscode

but I would much prefer to see it combined with vscode-rust and possibly replace Racer.

[2017-01-18 06:52] KalitaAlexey commented on #45
@zmanian,
Hi.
Currently it uses **Racer** for autocompletion.
I am looking forward to integrating RLS.

[2017-01-18 07:49] Gordon-F commented on #45
@zmanian for RLS goes to Alpha #2 and have Windows compile issue.

[2017-01-18 08:13] KalitaAlexey commented on #45
@Gordon-F,
We discussed that you would integrate RLS, have you changed your mind?

[2017-01-18 08:40] Gordon-F commented on #45
@KalitaAlexey you can do it. It would be great.

[2017-01-18 12:06] KalitaAlexey opened #46 "Question: How to express complex errors"
Hi everybody.

I have a question for all of us.

I want you to suggest me a way to show complex errors, i.e., errors like "doesn't live enough".

Let's look at the code:
[code]
The compiler emits the following output:
[code]

I like the way how it is made in Sublime Text, but unfortunately VSCode doesn't support CodeLens at user-defined column.
I have opened an issue: https://github.com/Microsoft/

[2017-01-19 17:21] radix commented on #40
It'd be nice to explain this situation in the README. When I see two vscode packages with identical descriptions, I go for the one with more downloads or a higher version number (RustyCode is at 0.19, Rust is at 0.3).

[2017-01-19 17:30] KalitaAlexey commented on #40
@radix,
I have done it.

[2017-01-21 18:55] khaledkbadr opened #48 "Does this extension support linting?"
Version of VSCode: 1.8.1
Version of the extension: 0.3.5
OS: OSX

[2017-01-21 20:37] radix opened #49 "error messages show very little information"
Version of VSCode: 1.8.1
Version of the extension: 0.3.5
OS: Windows 10

Description:

Error messages are very minimal, showing much less information than what I get when I run cargo at the command line.

For example, I used ctrl-shift-t to test my project, and got this compilation error:

[code]

And when I hover my mouse over the line with the error, I only see `E0308: mismatched types`.

On the

[2017-01-21 21:03] KalitaAlexey commented on #48
@khaledkbadr,
Hi.
What exactly do you mean under *linting*?

[2017-01-21 21:04] KalitaAlexey commented on #49
@radix,
Currently there is no way.
But I didn't see that.
I can fix it.

[2017-01-22 07:25] khaledkbadr commented on #48
I mean warnings and errors before building with Cargo.
I found that it does work when I use `clippy` in afteractions, but that requires me to work with `rustc nightly` which I don't want. Is there a way to achieve that without using `clippy`

[2017-01-22 08:18] KalitaAlexey commented on #48
@khaledkbadr,
There is a command "Cargo: Check". It does what you want.

[2017-01-22 14:53] Timmmm opened #50 "No task runner configured for output pane and toml files."
Really annoyingly, the Ctrl-Shift-B build shortcut only seems to work if the cursor is focused in a `.rs` file. If you're editing `Cargo.toml`, or even have clicked in the output pane, VSCode will say "No task runner configured".

[2017-01-22 15:14] KalitaAlexey commented on #50
@Timmmm,
It is behavior of VSCode.

[2017-01-22 17:29] Timmmm commented on #50
Damn. Ok.

[2017-01-22 17:29] #50 closed

[2017-01-22 17:32] KalitaAlexey commented on #50
@Timmmm read about tasks.json

[2017-01-23 14:52] Phrohdoh opened #51 "Style not applied to inline comments in `derive`"
Version of VSCode: 1.8.1
Version of the extension: 0.3.5
OS: macOS

Description:

`FromForm, ` should be green like other comments.

![screen shot 2017-01-23 at 8 51 40 am](https://cloud.githubusercontent.com/assets/4861023/22208638/318150da-e149-11e6-8c1d-13a63bbf1a6d.png)

[2017-01-23 14:53] KalitaAlexey commented on #51
Hi @Phrohdoh,
I'll try to fix it.

[2017-01-24 19:14] Kerollmops commented on #7
There is a little mistake on the `README.md`, the listed option are wrong (`rust.checkOnSave`, `rust.checkWith`)

[2017-01-24 19:40] KalitaAlexey commented on #7
@Kerollmops,
Yes it is.
I have no time to fix it.
I will I promise.

[2017-01-25 08:36] kr428 opened #52 "uncontrollable cargo run?"
Version of VSCode: 1.8.1
Version of the extension: 0.3.5
OS: Linux x86_64

Whenever I run some application (such as a rocket based server) using "cargo run" from within the IDE, the application will stop and work well but I will not have any way to stop it anymore. Same way, trying to use samples using stdin (like the rust book guessing_game sample) will fail because I cannot interact with the in/

[2017-01-25 09:13] Gordon-F commented on #52
Cargo commands use only VSCode output. You can use Integrated Terminal

[2017-01-25 09:20] KalitaAlexey commented on #52
@kr428,
You can't use stdin.
It is limitation of VSCode.

If I got it right you can't stop your application.
How do you try to stop your application?

[2017-01-26 14:05] cogman commented on #45
@KalitaAlexey I believe that the RLS plugin is mainly used for refactoring and goto definition support.  I believe it would primarily be a replacement for rustsym as it stands (though it sounds like they want to get autocompletion support landed, which would be fantastic).

[2017-01-26 14:08] KalitaAlexey commented on #45
@cogman,
I am currently working on RLS.
It isn't ready yet.
When it is, I will integrate it.
I promise.

[2017-01-27 00:24] nolimitk opened #53 "Why don't include debugger extension?"
Of course, three are some debugger extension for rust.
but you have to install extensions each other.
I think it will be great that vscode-rust includes debugger feature.

I wonder there is some reasons to not includes debugger feature.

[2017-01-27 05:25] KalitaAlexey commented on #53
@nolimitk,
Writing of debugger is hard.
There is Native Debug, which is very good.
I think about adding it as a recommended extension and write an article about configuring.

[2017-01-27 13:46] nolimitk commented on #53
@KalitaAlexey,
If I develop the debugger adapter in vscode-rust,
will you interested in?

[2017-01-27 14:03] KalitaAlexey commented on #53
@nolimitk,
Yes.
I would be glad if you do it.
Look at Native Debug.
It is opened and there is a lot things available.

[2017-01-27 21:21] kr428 commented on #52
@KalitaAlexey Thanks for your feedback. Ok, so I'll stop trying to use STDIN in there, kind of thought this could be a general limitation. About stopping application however, I have no real idea: As soon as I invoke a "cargo run", I indeed just see the output in the output window but I haven't fund any way how to cleanly stop the app. There's no "stop" button or something like this in the IDE, is

[2017-01-27 22:19] KalitaAlexey commented on #52
@kr428,
There is no the Stop button.
It is actually good feature.
I will probably add it (some status item which will stop running task).

There is the command "Cargo: Terminate".
You can find it by pressing CTRL+P and entering Cargo.

@kr428,
If you really want to use stdin, then you can build with any build command (Cargo: Build), but run with an integrated terminal.
It is poor experience, but i

[2017-01-28 11:35] KalitaAlexey opened #54 ""Create Playground" commands replaces the current window"
The "Create Playground" command replaces the current window instead of opening a new one.

[2017-01-28 15:41] redactedscribe opened #55 "Include some basic custom configuration settings by default."
Perhaps it would be a good idea to include some default settings for the custom build and run configurations? This would also help to remove some confusion on how to configure these settings without needing to refer to the [wiki article](https://github.com/KalitaAlexey/vscode-rust/wiki/Configuration-Properties). For example:
[code]

[2017-01-28 17:37] KalitaAlexey commented on #55
@redactedscribe,
There is no need in "Debug" in your example.
I think you are right.
I will add some.

[2017-01-28 18:33] KalitaAlexey commented on #55
@redactedscribe,
Please reopen it to I don't forget about it.

[2017-01-28 18:39] redactedscribe commented on #55
@KalitaAlexey Sorry! Done.

[2017-01-28 19:08] KalitaAlexey commented on #55
@redactedscribe and everyone,
What default custom configurations do you want to have?

[2017-01-28 19:54] redactedscribe commented on #55
I think only the most common/useful configurations should be included so that the majority of users will run them. Users can then define any more complex configurations themselves. I would give you suggestions, however my experience in Rust is not yet sufficient.

[2017-01-28 20:19] KalitaAlexey commented on #55
@redactedscribe,
I have some in my mind, but maybe I miss something.

[2017-01-29 11:30] victorporof commented on #49
Any progress on this?

[2017-01-29 13:18] KalitaAlexey commented on #49
@victorporof,
Actually yes.
I think I will prepare the commit today.

[2017-01-29 16:58] KalitaAlexey commented on #49
I have an opened PR to the RLS: https://github.com/jonathandturner/rls/pull/159
With the PR it will show more.
I will wait until my PR is merged.

[2017-01-30 07:48] KalitaAlexey commented on #51
@Phrohdoh,
Did you encounter other issues in highlighting?

[2017-01-30 10:21] #55 closed

[2017-01-30 10:56] #52 closed

[2017-01-30 10:58] #54 closed

[2017-01-30 10:59] KalitaAlexey commented on #48
I am closing it since there are no new questions.

[2017-01-30 10:59] #48 closed

[2017-01-30 14:07] Phrohdoh commented on #51
Nothing yet!

[2017-01-30 20:50] KalitaAlexey commented on #45
I tried to integrate RLS.
The only thing stopping me is https://github.com/jonathandturner/rls/issues/161

[2017-02-01 11:41] kr428 commented on #52
@KalitaAlexey Nice, thanks loads for your help. :)

[2017-02-02 13:14] KalitaAlexey opened #57 "Investigate correlation of RLS and cargo commands"
It is required to check what happens if you change source code while your project is building.

[2017-02-03 04:16] jpierson opened #58 "Error when saving file"
Version of VSCode: 1.8.1
Version of the extension: 0.3.6
OS: Windows 10

Description: Error when saving file

[code]

I was following [this tutorial](http://doc.crates.io/).

Error: spawnSync undefined ENOENT

Output of the "Rust logging" channel:
[code]

[2017-02-03 04:59] KalitaAlexey commented on #58
@jpierson,
Hi.
Thanks for your feedback.
To see "Rust Logging" channel, click on the menu: View->Output.
It should open the Output panel.
There is a select to the right side of the panel.
Click on it and choose "Rust Logging".

[2017-02-03 21:31] marmistrz opened #59 "Rustsym is not detected, although it is in PATH"
Version of VSCode: 1.9.0
Version of the extension: 0.3.6
OS: Arch Linux

Description: I installed `rustsym` via `cargo install rustsym`. I have `~/.cargo/bin` in my `PATH`, I set it in `~/.zprofile` (my shell is ZSH). Unfortunately, VSCode claims that `rustsym` is not installed.

Output of the "Rust logging" channel: Where is the Rust logging channel?

[2017-02-03 22:02] KalitaAlexey commented on #59
@marmistrz,
Hi.

To see the "Rust logging" channel perform the following steps:

* Click on the "View" menu item
* Click on the "Output" menu item
* The "Output" panel should open
* There should be a select box to the right of the "Output" panel
* Click on the select box
* Choose "Rust Logging"

[2017-02-03 22:11] marmistrz commented on #59
Thanks. Apparently VSCode doesn't use the `PATH` from my login shell. Do you have any idea why?

[2017-02-03 22:42] KalitaAlexey commented on #59
@marmistrz,
How do you start VSCode? Via terminal or something?

[2017-02-04 02:52] sinkuu commented on #59
See https://wiki.archlinux.org/index.php/environment_variables#Graphical_applications

I have added this to my `~/.xprofile`.

[code]

[2017-02-04 08:20] KalitaAlexey commented on #59
@marmistrz,
Try the solusion suggested by sinkuu.
If it works close the issue please.

[2017-02-04 10:12] ishitatsuyuki commented on #26
Actually you have already assuming nightly by removing check-lib. This could be removed as well, although it affects more users.

[2017-02-04 10:53] KalitaAlexey commented on #26
@ishitatsuyuki,
What do you mean under removing check-lib?
I replaced it with custom configurations.

[2017-02-04 11:14] ishitatsuyuki commented on #26
I see. Nevermind then.

[2017-02-04 11:38] KalitaAlexey commented on #26
@ishitatsuyuki,
I kept default, but allowed to customize.
I think it is more powerful than having only several default choices.

[2017-02-04 14:58] martinhath commented on #59
I'm getting this as well when I launch `code` from either the gnome launcher (Alt+F2), or the gnome application menu. If I launch it from a terminal, it's fine, so surely this is a pathing issue, and not really a `vscode-rust` issue.

However, I can't seem to find a fix. Both `.xprofile`, `.bash_profile`, `.bashrc`, and `.zshrc` (I'm using `zsh` as well) are seemingly unused when launching an appl

[2017-02-04 15:06] KalitaAlexey commented on #59
@martinhath,
Hi.
sinkuu had posted the possible solution.
Did you try it?
Write your OS.

[2017-02-04 15:09] martinhath commented on #59
As I said, `.xprofile` is seemingly not read at all. I'm also running Arch Linux.

[2017-02-04 15:35] KalitaAlexey commented on #59
@martinhath,
As you said before it isn't a vscode-rust's issue.
I suggest you to google for a solution for your Arch Linux.
If you found something write the solution here please.

[2017-02-04 19:42] KalitaAlexey commented on #51
I have opened an issue: https://github.com/zargony/atom-language-rust/pull/95

[2017-02-06 10:54] KalitaAlexey opened #61 "Add a parameter to make `cargo` be executed in an integrated terminal"
Visual Studio Code can show diagnostics,
but some people may like to execute any `cargo` command in a terminal.
I think this feature is very easy, but elegant.
Diagnostics will not be shown if any `cargo` command is executed in a terminal.

[2017-02-07 17:14] KalitaAlexey commented on #28
@Beamed,
I encourage you to try RLS.
More information at https://github.com/KalitaAlexey/vscode-rust/pull/56
RLS autocompletes macros, and everything else.

[2017-02-07 17:15] KalitaAlexey commented on #52
@kr428,
Could you try https://github.com/KalitaAlexey/vscode-rust/pull/56?
It allows to execute any cargo command in an integrated terminal.
Of course without diagnostics, but there is RLS for that.

[2017-02-08 14:52] KalitaAlexey commented on #58
I am closing because I didn't receive any response from you.
If the problem still happens open this issue.

[2017-02-08 14:52] #58 closed

[2017-02-08 14:54] #45 closed

[2017-02-09 12:39] #61 closed

[2017-02-09 12:39] KalitaAlexey opened #62 "`rust.cargoPath` isn't used if a cargo command is executed in a terminal"

[2017-02-09 15:18] agmcleod opened #63 "cargo rustc being used instead of check."
**Edit**

When testing this and pasting information i realized my rustc was 1.14, while i have the 1.15 source. I updated it, and the program no longer completely fails, i do get errors back. Though I do still wonder why I'm not getting cargo check :)

**Original Issue**

Version of VSCode: 1.9.1
Version of the extension: 0.3.6
OS: Mac OS

Description:

Hello, I have an issue where cargo runs rust

[2017-02-09 15:23] KalitaAlexey commented on #63
Hi @agmcleod,
Thanks for your feedback.
I have no idea why it does that.
Let me check.

[2017-02-09 15:24] agmcleod commented on #63
@KalitaAlexey probably should have posted my edit in a comment. Updating to 1.15 rustc prevents it from exiting completely, so i at least get feedback returned. Would still prefer to use cargo check if possible though. Thanks a bunch for forking this plugin.

[2017-02-09 15:25] KalitaAlexey commented on #63
@agmcleod,
Would you install a special package with some debugging information If I gave you it?

[2017-02-09 15:28] agmcleod commented on #63
@KalitaAlexey absolutely. I was trying to write console.log statements in the plugin code to see what was going on, but im guessing that doesnt work with the release version :), or i simply didnt know where to check for output.

[2017-02-09 15:30] KalitaAlexey commented on #63
@agmcleod,
If you have a source code you can execute it via F5.
It opens a new window.
`console.log` would be shown in the windows where the source code is opened.

[2017-02-09 15:38] KalitaAlexey commented on #63
I have pushed a commit.
Please update and reproduce the issue.

[2017-02-09 16:47] nambrot opened #64 "Auto-complete doesnt work"
Version of VSCode: 1.9.1
Version of the extension: 0.3.6
OS: Mac OSX

Description:

I just installed vscode-rust with all the dependencies (racer, rustfmt, etc.) Added it the PATH.
However, I can't get the auto-complete to work. Am I missing an obvious configuration step?

Output of the "Rust logging" channel:
[code]

[2017-02-09 16:57] KalitaAlexey commented on #64
@nambrot,
Can you execute `/Users/nambrot/.cargo/bin/racer` from a terminal?

[2017-02-09 17:07] agmcleod commented on #63
Sorry for taking a bit, got busy with work.

[code]

[2017-02-09 17:08] KalitaAlexey commented on #63
Can you execute:
[code]
and look what it will give you?

[2017-02-09 17:17] nambrot commented on #64
Yes
[code]

[2017-02-09 17:19] KalitaAlexey commented on #64
@nambrot,
There is an item on the status bar named "Racer".
Sometimes it should show "Racer: Crashed".
You can click on the item.
It should show an error.
Can you paste it here?

[2017-02-09 17:34] nambrot commented on #64
It worked! Thanks so much for your help.

It wasn't clear from the README to me that I had to clone the rust source files locally and point to them either via the settings of the ENV var

[2017-02-09 17:34] #64 closed

[2017-02-09 17:38] KalitaAlexey commented on #64
@nambrot,
Why don't you use rustup?

[2017-02-09 17:46] agmcleod commented on #63
[code]

[2017-02-09 17:49] KalitaAlexey commented on #63
It is strange, isn't it?

[2017-02-09 17:49] KalitaAlexey commented on #63
Probably you have `cargo-check` installed.

[2017-02-09 17:55] agmcleod commented on #63
Yeah, maybe i have the whole thing confused. So i installed cargo-check yesterday, and symlinked the binary. Should I use nightly to compile a local copy of check instead via the repo?

[2017-02-09 17:56] CryZe commented on #63
You don't need cargo-check. It's integrated into cargo.

2017-02-09 18:55 GMT+01:00 Aaron McLeod <notifications@github.com>:

[2017-02-09 17:57] KalitaAlexey commented on #63
@agmcleod,
Cargo has built-in check.

[2017-02-09 17:57] KalitaAlexey commented on #63
It isn't stable yet.

[2017-02-10 14:16] dremon opened #66 "Add a cargo command to build an example"
Version of VSCode: 1.9.1
Version of the extension: 0.3.6
OS: Linux

Description:
It would be nice to have a "Cargo build example" command which uses the base name (without extension) of the currently opened file.

[2017-02-10 14:34] KalitaAlexey commented on #66
@dremon,
It was here before.
I deleted it.
You should use custom configuration.
For now you can refer [wiki](https://github.com/KalitaAlexey/vscode-rust/wiki/Configuration-Properties).
I am going to publish new version of documentation.
Thanks for suggestion.
I am about to include examples of custom configurations.

This is how you can make it:
[code]

[2017-02-10 14:35] KalitaAlexey opened #67 "The feature "Format On save" doesn't work for RLS."

[2017-02-10 15:13] dremon commented on #66
The disadvantage is that you can't use parameters in the args list, for example "${fileBasenameNoExtension}", so a separate config per workspace and per example is required.

[2017-02-10 15:42] bjrnt commented on #67
I think this is true for `checkOnSave` as well. VSCode says its an `unknown configuration setting`.

[2017-02-10 16:43] KalitaAlexey commented on #67
@bjrnt,
"Action On Save" works well for RLS.

[2017-02-10 16:50] KalitaAlexey commented on #66
@dremon,
VSCode supports workspace's settings.
But I like your proposed idea to add "basename".
I will think about it, but I am not sure I want to add it because of additional complexity.

[2017-02-10 16:50] KalitaAlexey commented on #66
@dremon,
You don't often change an example which you want to run.

[2017-02-10 16:53] dremon commented on #66
Sure, but I mean I can just set up one build configuration for all projects and examples instead of having tens of then.

[2017-02-10 16:54] dremon commented on #66
I think example build is essential in rust development.

[2017-02-10 16:54] KalitaAlexey commented on #66
@dremon,
I got your motivation.
How often do you change example?
You can create multiple custom configurations.
Share it with other people and etc.

[2017-02-10 17:45] KalitaAlexey opened #69 "Consider adding ${file_name} and etc."
Hello everybody.

I am opening this issue because I was asked in https://github.com/KalitaAlexey/vscode-rust/issues/66

I think that such feature may be very useful.

One unresolved question is that which variables to add.

I have a list:

* base_name: examples/ex.rs => ex
* file_name: examples/ex.rs => ex.rs
* relative_path: examples/ex.rs => examples/ex.rs
* absolute_path: examples/ex.rs => path

[2017-02-10 17:46] KalitaAlexey commented on #66
@dremon,
I have opened a new issue.
I am closing this issue because I won't add a cargo command to build an example.

[2017-02-10 17:46] #66 closed

[2017-02-10 18:10] KalitaAlexey commented on #63
Hi @CryZe, can you look at #68?

[2017-02-10 18:19] KalitaAlexey commented on #63
@agmcleod,
I am closing this issue because there is no problem in the extension.

[2017-02-10 18:19] #63 closed

[2017-02-10 18:23] KalitaAlexey commented on #67
It seems VSCode does have `"editor.formatOnSave"` parameter.
I am going to remove the extension's parameter.

[2017-02-10 20:11] KalitaAlexey commented on #59
I am closing this issue because it isn't an issue of the extension.

[2017-02-10 20:11] #59 closed

[2017-02-11 08:02] dremon commented on #69
https://code.visualstudio.com/Docs/editor/tasks#_variable-substitution

[2017-02-11 08:12] KalitaAlexey commented on #69
@dremon,
It is interesting.
I will think about it.

[2017-02-12 07:12] #62 closed

[2017-02-12 16:27] Diggsey opened #72 "Sends incorrect code to RLS"
Not sure if this is a problem with the extension, or the RLS, but after typing in `Some(`, I got the following problem reported:

[code]

It seems like the plugin is not updating the cursor position when it's sending input to the RLS?

Shortly afterward, the RLS usually gets into a panic loop and has to be restarted.

[2017-02-12 17:10] KalitaAlexey commented on #72
@Diggsey,
Describe the whole sequence of steps which are required to make RLS panic.

[2017-02-12 22:33] nambrot commented on #64
I usually prefer to install things via `brew`, but from the sounds of it I should just use `rustup`

[2017-02-12 23:03] sinkuu commented on #64
With rustup, installing rust source code is just `rustup component add rust-src`, and vscode-rust is able to automatically figure out the path of it.

[2017-02-13 06:41] KalitaAlexey commented on #67
I have done it in https://github.com/KalitaAlexey/vscode-rust/pull/74

[2017-02-13 06:41] #67 closed

[2017-02-13 06:42] KalitaAlexey commented on #51
@Phrohdoh,
Next version of Visual Studio Code is containing the fix.

[2017-02-13 09:23] redactedscribe opened #75 "Cannot run consecutive commands when `executeCargoCommandInTerminal` is `true`."
When `"rust.executeCargoCommandInTerminal": true`, you cannot run a consecutive command without closing the current "Cargo Task" terminal as the error "Cannot execute task in a terminal because some task is already running" is reported.

Judging by the setting's name, I assume this feature is meant to replace working with the Output and Problems view, however this is not currently ergonomic as one

[2017-02-13 11:55] KalitaAlexey commented on #75
@redactedscribe,
Thank you for your feedback.

You are right.
It makes sense.

[2017-02-13 13:06] Phrohdoh commented on #51
If by next you are referring to 0.3.7 this is not fixed:

[code]

![screen shot 2017-02-13 at 7 05 58 am](https://cloud.githubusercontent.com/assets/4861023/22884517/ea766acc-f1ba-11e6-8041-d0104c642b98.png)

[2017-02-13 13:31] KalitaAlexey commented on #51
Next version of Visual Studio Code, not my extension.
1.10

[2017-02-13 13:40] Phrohdoh commented on #51
Oh, of course, sorry.

[2017-02-13 16:40] redactedscribe opened #76 "The README.md could be improved."
I'd like to fix the repositories' README.md. Currently, there exists at least one error and its English could be improved. I will submit a pull request soon.

[2017-02-13 17:07] #76 closed

[2017-02-13 17:17] KalitaAlexey opened #79 "Make changes to README.md"
* Make RLS be a link to the RLS's repository.
* Remove a link to the Roadmap because I have deleted it.

[2017-02-13 18:06] KalitaAlexey opened #80 "Move it to the organization account"
I think vscode-rust is good enough organization name.

[2017-02-13 18:45] mehcode commented on #80
Perhaps there should be a "ide-rs" / "ide-rust" / etc. org name?

[2017-02-13 18:47] gcp opened #81 "Can no longer see detailed error messages from build"
Version of VSCode: 1.9.1
Version of the extension: 0.3.7
OS: Linux

Description:

Before updating to 0.3.7, I could see detailed build error messages in the "Cargo" pane of the output window. After the update, it just shows "error: Could not compile `foo.'"

The "problems" pane just lists the error number and the generic error message.

Without details (exact types, lifetimes, etc) compiling from

[2017-02-13 18:50] gcp commented on #81
I tried " "rust.executeCargoCommandInTerminal": true" as a workaround, and while this shows the full error, it keeps the shell open, so subsequent build commands will fail.

[2017-02-13 19:04] austinprete commented on #81
I'm running into the same issue after updating. Same version of VSCode and the extension as @gcp , but running on MacOS 10.12 (Though I imagine this isn't actually on OS specific issue)

[2017-02-13 19:26] vessd opened #82 "RLS error when define a module in RLS mode"
Version of VSCode: 1.9.1
Version of the extension: 0.3.7
OS: Arch Linux x64

Description:
RSL error when I define a module.
[code]

main.rs
[code]
module1.rs - empty

Output of the "Rust logging" channel:
[code]

[2017-02-13 19:31] redactedscribe commented on #81
@gcp #78 will fix this I believe.

[2017-02-13 20:02] vessd opened #84 "Сan't build a project more than once in RLS mode"
Version of VSCode: 1.9.1
Version of the extension: 0.3.7
OS: Arch Linux x64

Description:
"Cannot execute task in a terminal because some task is already running" message when trying build project more than once.
"rust.executeCargoCommandInTerminal": false

Output of the "Rust logging" channel: empty

[2017-02-13 20:25] redactedscribe commented on #84
@vessd #78 should fix this.

[2017-02-13 20:36] vessd commented on #84
@redactedscribe Yes, I have read this. But I'm not sure that these problems are related.
Му "rust.executeCargoCommandInTerminal" is false...Oh, I do not know how it works, I'm sorry.
Just I reported a problem because I thought that it differs.

[2017-02-13 20:59] KalitaAlexey commented on #84
@vessd,
`"executeCargoCommandInTerminal"` has no effect when RLS is used.
It is treated as `true` always.

[2017-02-13 21:03] #79 closed

[2017-02-13 21:04] KalitaAlexey commented on #84
@vessd,
I have written the documentation.
`"executeCargoCommandInTerminal"` is mentioned only for Legacy Mode.
I'm sorry that it isn't clear enough.

[2017-02-13 21:05] vessd commented on #84
@KalitaAlexey well, then I close this issue as a duplicate of #75

[2017-02-13 21:05] #84 closed

[2017-02-13 22:01] radix commented on #81
I don't know if it's possible, but it might be preferable to just automatically show the "Problems" pane instead of the "Output" pane when running a build... assuming that extended error information becomes available in that pane

[2017-02-14 00:16] radix opened #85 "Problem pane tries to open file paths which are incorrectly concatenated"
Version of VSCode: 1.9.1
Version of the extension: 0.3.7
OS: Windows 10

Description:

When I run a project (ctrl+shift+r) and there's a compilation problem, I try to click the line in the "Problems" output to view the line with the error, but it's trying to open an invalid file and I get the following error:

`Unable to open 'creature.rs': File not found (c:\Users\radix\Projects\pandt\ptrpi\C:\Us

[2017-02-14 04:44] KalitaAlexey commented on #85
@radix,
Thank you for your feedback.
I am sorry that I have broken something.

[2017-02-14 04:46] radix commented on #85
@KalitaAlexey It's no problem. Thank you very much for the hard work you're putting into this extension. Contributing bug reports is the least I can do :)

[2017-02-14 04:50] KalitaAlexey commented on #85
Oh I got it.
It never worked.
The reason of the problem is that there is a compilation error in your library, but the binary is compiled.
I need some time to fix that because right now I have to get to work.

[2017-02-14 04:51] KalitaAlexey commented on #81
@radix,
There is no API to show the "Problems" panel.
There is an opened issue, but right now it is impossible.

[2017-02-14 06:17] sinkuu commented on #81
@radix Then, how about setting `"rust.showOutput": false`? You can keep `Problem` panel opened.

[2017-02-14 07:39] KalitaAlexey commented on #85
@radix,
I have no Windows on my work.
May I ask you to collect some data for me?

I want you to do the following steps:

* Open a directory in a terminal
* Write the path to the directory
* Execute in the terminal:

[code]

* Change **./l/src/lib.rs** to start with the literal `"2"` to fail a compilation.
* Execute in the terminal:

[code]

* Write here the whole output.

Thanks.

[2017-02-14 07:45] KalitaAlexey commented on #81
@gcp,
On 0.3.7 I removed printing diagnostics to the output channel.
But the diagnostics in the Problems panel must not be broken.
Please provide the code where it shows incomplete diagnostics.
Thanks for your feedback.

[2017-02-14 07:47] KalitaAlexey commented on #82
@vessd,
Thanks for your feedback.

The problem is well-known.
I am going to figure out the cause as soon as I have time for that.

[2017-02-14 16:59] radix commented on #85
Hi @KalitaAlexey ! I've done what you asked.

[code]

At this point I realized that `b` wasn't depending on `l` so there was no error. So I edited b/Cargo.toml to add the dependency as `l = {path = "../l"}`.

[code]

Hope this helps!

[2017-02-14 17:28] KalitaAlexey commented on #82
I was talking about https://github.com/rust-lang-nursery/rls/issues/166

[2017-02-14 17:36] #85 closed

[2017-02-14 17:43] #75 closed

[2017-02-14 17:48] KalitaAlexey commented on #81
@gcp,
Today I have no time for that.
Tomorrow I will publish the solution.

[2017-02-14 21:39] Gi972 opened #88 "Error: spawnSync undefined ENOENT"
Version of VSCode: Version 1.9.1
Version of the extension: 0.3.7
OS: Mac OS Sierra

Description: Every time I Saving  the file,  I have the following error  : Error: spawnSync undefined ENOENT

Note: I can Build the rust file.

Output of the "Rust logging" channel:
[code]

![image](https://cloud.githubusercontent.com/assets/1606247/22950518/2d59b7bc-f306-11e6-9970-72c7d6abe571.png)

My settings:

[2017-02-15 04:34] KalitaAlexey commented on #88
Hello @Gi972,
I can't find any reason in the code.
I want you to debug it yourself.
Read https://github.com/KalitaAlexey/vscode-rust/blob/master/doc/install_extension_from_source.md
You need to run the extension from the source.
After you have started debugging a new window will open.
Reproduce the problem and it should throw an error.
Attach here the stack trace.
Thanks.

[2017-02-15 06:45] Gi972 commented on #88
HI @KalitaAlexey ,

Ok I will make it soon , I Will keep you informed

[2017-02-16 00:19] Gi972 commented on #88
Hello @KalitaAlexey ,

this is the picture of debug

![image](https://cloud.githubusercontent.com/assets/1606247/23001452/999541aa-f3e5-11e6-9f6b-6bb9d1ab05e0.png)

The only message a see on debug tab is:

'/Applications/Visual Studio Code.app/Contents/MacOS/Electron' --debugBrkPluginHost=45422 --extensionDevelopmentPath=/Users/j3di/Desktop/Dev/vscodeextension/rustext/vscode-rust

and nothing appe

[2017-02-16 04:52] KalitaAlexey commented on #88
@Gi972,
It doesn't make sense.
Open the "Debugging" tab (the icon is a bug).
In the "Breakpoints" section select both "All Exceptions" and "Uncaught Exceptions".
After that start debugging.

[2017-02-16 09:13] daiheitan commented on #72
Same here, and sometimes RLS output is not going to the errors & warnings panel of VScode

[2017-02-16 10:10] KalitaAlexey commented on #72
@daiheitan,
Describe the whole sequence of steps which are required to reproduce your problem.

[2017-02-16 15:51] #81 closed

[2017-02-16 16:13] KalitaAlexey commented on #69
If someone wants to implement it, you should copy the implementation from https://github.com/Microsoft/vscode/blob/a33f2a234ab28d04d8f4abd2d15808fe013a5201/src/vs/workbench/services/configurationResolver/node/configurationResolverService.ts

[2017-02-16 21:09] ivaylopivanov commented on #48
@KalitaAlexey not sure if my question is for a new issue, but I think it will be good to have the error right in the IDE, something like [this](https://fr.vuejs.org/images/typescript-type-error.png).

[2017-02-17 02:05] sinkuu commented on #81
As a workaround, `OutputChannel.show` + `executeCommand` reliably shows the Problems panel :grin:

[code]

[2017-02-17 02:23] Gi972 commented on #88
Hi @KalitaAlexey ,

the only errors I have It's when I start the debug not when I save

message:
"ENOENT: no such file or directory, open '/Users/j3di/Desktop/Dev/Rust/.vscode/spell.json'"

stack:
"Error: ENOENT: no such file or directory, open '/Users/j3di/Desktop/Dev/Rust/.vscode/spell.json'
    at Error (native)
    at Object.fs.openSync (fs.js:640:18)
    at Object.module.(anonymous function)

[2017-02-17 02:38] Gi972 commented on #88
I found...

I install a other rust plugin...  vsc-rustfmt...

I uninstall it an norw It works

Sorry by that guy

[2017-02-17 03:30] daiheitan commented on #72
I was using `executable: cargo`, switched to `executable: rls` and set the `DYLD_LIBRARY_PATH` env variable, the problem is gone. I'm OK now.

[2017-02-17 04:46] KalitaAlexey commented on #81
@sinkuu,
Does it takes the focus away from the active text editor?

[2017-02-17 04:47] KalitaAlexey commented on #48
@ivaylopivanov,
Have you tried the extension yet?
It is exactly how it shows errors.

[2017-02-17 04:48] KalitaAlexey commented on #88
@Gi972,
Now you have no your problem.
Is that right?

[2017-02-17 04:52] KalitaAlexey commented on #72
@daiheitan,
It is not a solution.
May I ask you to debug the extension?
Read https://github.com/KalitaAlexey/vscode-rust/blob/master/doc/install_extension_from_source.md
You need to run the extension from the source.
Reproduce the problem (no diagnostics are shown).
Look at the "Rust Language Server" output channel.
Look at the Debug in the first window.
I hope you understand.

[2017-02-17 05:22] sinkuu commented on #81
Yes, same behavior as `ctrl+shift+m`.

[2017-02-17 06:37] Gi972 commented on #88
@KalitaAlexey

yes It's vsc-rustfmt which causes the problem

I close the issue.
thanks for your help

[2017-02-17 06:37] #88 closed

[2017-02-17 07:00] khaledkbadr commented on #48
Yeah, but you have to use clippy for that; or at least how I made it to do
that.
On Fri, Feb 17, 2017 at 6:47 AM Alexey <notifications@github.com> wrote:

[2017-02-17 07:08] KalitaAlexey commented on #48
@khaledkbadr,
If you need something more than just `rustc` output, then yes.
I'd suggest you to read the documentation:
https://github.com/KalitaAlexey/vscode-rust/blob/master/doc/main.md

[2017-02-17 07:08] KalitaAlexey commented on #81
@sinkuu,
Could you open a new issue where you suggest to add a new parameter to show the Problems panel.

[2017-02-17 07:15] ivaylopivanov commented on #48
@KalitaAlexey I can't find any doc about clippy in this repo. However I do share @khaledkbadr concern that using non-stable channel is not a solution.

[2017-02-17 08:06] KalitaAlexey commented on #48
@ivaylopivanov,
What mode do you use (Legacy or RLS)?
For RLS it should work fine.
For Legacy mode read to https://github.com/KalitaAlexey/vscode-rust/blob/master/doc/cargo_command_execution.md

[2017-02-17 08:09] KalitaAlexey commented on #48
@khaledkbadr, @ivaylopivanov,
Please read https://github.com/KalitaAlexey/vscode-rust/blob/master/doc/cargo_command_execution.md
The extension parses the output of an executed command and shows diagnostics.

[2017-02-17 08:09] ivaylopivanov commented on #48
@KalitaAlexey thanks!

[2017-02-17 08:11] KalitaAlexey opened #90 "Add information about linting to the documentation"
Currently the documentation doesn't contain information that executing a cargo command makes the extension parse the output into diagnostics and show them in the editor.
It should be added to the main page of the documentation where all features are listed and to the
[Cargo Command Execution Page](https://github.com/KalitaAlexey/vscode-rust/blob/master/doc/cargo_command_execution.md).

[2017-02-17 08:12] KalitaAlexey commented on #48
I have opened a new issue: #90.

[2017-02-17 09:54] daiheitan commented on #72
Ok, My problem is quite not the same as op.

Currently (as an example) when typing `use std::`, I can't get the suggestions of std modules.

After a glance, I believe that the problem is https://github.com/rust-lang-nursery/rls/blob/master/src/server.rs#L222 not containing `:` as a triggering character.

The other problems are not reproducible to me.

[2017-02-17 10:32] KalitaAlexey commented on #72
@daiheitan,
I haven't tried it since I always press "ctrl+space".

[2017-02-18 09:49] KalitaAlexey opened #93 "On the last version of the extension only one diagnostic is shown for each file"
I know about it.
I am working on it.

[2017-02-18 14:52] #93 closed

[2017-02-18 15:09] KalitaAlexey commented on #80
@mehcode,
It is going to be **vscode-rust**.
So it would be **vscode-rust/vscode-rust**.
I don't know how to make the fork be normal repository.
I don't want it to be fork anymore.

[2017-02-18 15:11] KalitaAlexey commented on #80
I don't know how to make the fork be normal repository.
I don't want it to be fork anymore.
If someone knows speak it up.

[2017-02-18 15:31] KalitaAlexey commented on #57
I didn't find any problems.

[2017-02-18 15:32] KalitaAlexey commented on #49
Actually it has been fixed in https://github.com/KalitaAlexey/vscode-rust/pull/89

[2017-02-18 17:05] mehcode commented on #80
Github Support can do it and they're usually pretty quick about it.

[2017-02-18 17:09] KalitaAlexey commented on #80
@mehcode,
I don't know how to do that.
Can you describe the process or give me a link?

[2017-02-18 17:14] ctaggart commented on #80
What about moving to the https://github.com/rust-lang-nursery like rls?

[2017-02-18 18:24] gabdube opened #96 "Cargo check appends multiple "-- -Zno-trans" after the first run"
Version of VSCode: 1.9.1
Version of the extension: 0.3.7
OS: Windows 10

Description:

Running the command `Cargo check` multiple time appends a new `-- -Zno-trans` every time the command is called. Rustc then complains that multiple input filename were provided and then nothing happens (obviously).

Output of the "Rust logging" channel:
[code]

[2017-02-18 18:57] KalitaAlexey commented on #96
@gabdube,
It isn't my extension.
I am sure you have `cargo-check` installed.

[2017-02-18 18:59] mehcode commented on #80
https://github.com/contact

^ Explain the situation there.

---

I still feel we should open an *editor-rs* organization (or similar name) and try to get all editor plugins on board. There is a lot of cross-work that could be beneficial to collaborate on.

[2017-02-18 19:37] gabdube commented on #96
Thanks for the quick answer.

I have installed `cargo-check` (and calling `cargo check` from the console works fine). From this issue https://github.com/KalitaAlexey/vscode-rust/issues/26 , it seems the the fallback is always used.

[2017-02-18 19:52] KalitaAlexey commented on #96
@gabdube,
Not always.
If you are using nightly, the cargo check is used.

[2017-02-18 19:59] KalitaAlexey commented on #80
@mehcode,
Maybe you are right.
I will think about it.

[2017-02-18 20:05] gabdube commented on #96
Oh I was on stable. I switched to nightly and now it works fine. Thanks.

[2017-02-18 20:05] #96 closed

[2017-02-18 20:10] KalitaAlexey commented on #96
@gabdube,
I think it should be described in the documentation.

[2017-02-19 00:41] redactedscribe opened #97 "Update the README on the VS Code Marketplace"
The README on the [VS Code Marketplace](https://marketplace.visualstudio.com/items?itemName=kalitaalexey.vscode-rust) is currently outdated.

[2017-02-19 08:20] KalitaAlexey commented on #97
@redactedscribe,
It will be updated after I publish a new version.

[2017-02-19 08:31] generalelectrix opened #98 "Upgraded to 0.3.7, errors and warnings no longer underlined inline"
Version of VSCode: 1.9.1
Version of the extension: 0.3.7
OS: macOS 10.11.6

Description: Previously, when compiling, errors would be underlined in red in the editor, and warnings in green.  Now the console output is more verbose (including source code context snippets) but there is no underlining in the editor windows.

Output of the "Rust logging" channel:
[code]

[2017-02-19 08:36] generalelectrix opened #99 "Running any build command twice throws an error"
Version of VSCode: 1.9.1
Version of the extension: 0.3.7
OS: macOS 10.11.6

Description:

Running, say `cargo check` twice runs successfully the first time but then fails with the error `error: multiple input filenames provided`.  From the logging below it looks like something is accumulating command line arguments for rustc but not clearing them, as `"--", "-Zno-trans"` appears twice on the secon

[2017-02-19 09:31] KalitaAlexey commented on #99
Duplicate of https://github.com/KalitaAlexey/vscode-rust/issues/96
You have `cargo-check` installed.
Uninstall it.

[2017-02-19 09:32] KalitaAlexey commented on #98
@generalelectrix,
There is the "Cargo: Build" command.
Execute it and see whether or not diagnostics appear.

[2017-02-19 09:46] KalitaAlexey commented on #80
I have written the message to the GitHub Contact.

[2017-02-19 09:59] KalitaAlexey commented on #99
@generalelectrix,
Did you have `cargo-check` installed?

[2017-02-19 10:02] generalelectrix commented on #99
Nope!  It was working with extension version 0.3.6.

[2017-02-19 10:04] generalelectrix commented on #99
To be totally clear:
- the FIRST time I run cargo check from the command palette, it shows correct output in the output window but no code highlighting happens.
- thereafter, I get the aforementioned error

[2017-02-19 10:05] generalelectrix commented on #98
So, yes, the highlighting is there when I run Cargo: Build, however, there is now no summary of the compilation results in the Output window so there's no simple way to determine how many errors/warnings occurred.

[2017-02-19 10:09] KalitaAlexey commented on #99
@generalelectrix,
Write rustc and cargo's versions.

[2017-02-19 10:10] KalitaAlexey commented on #98
@generalelectrix,
It is shown in the Problems Panel.

[2017-02-19 10:10] generalelectrix commented on #99
cargo 0.16.0-nightly (6e0c18c 2017-01-27)
rustc 1.15.1 (021bd294c 2017-02-08)

[2017-02-19 10:11] KalitaAlexey commented on #99
@generalelectrix,
It is stable, isn't it?

[2017-02-19 10:11] generalelectrix commented on #98
Ooh, nice, that's a significant improvement!

[2017-02-19 10:11] #98 closed

[2017-02-19 10:12] KalitaAlexey commented on #99
@generalelectrix,
I will look at it.

[2017-02-19 10:13] generalelectrix commented on #99
Yes, stable.

[2017-02-19 10:14] KalitaAlexey commented on #98
@generalelectrix,
I can make the extension to show "aborting due to ..." in the Output.
Do you want it?

[2017-02-19 10:15] KalitaAlexey commented on #99
I have found the problem.
It is me. I am stupid and don't know TypeScript/JavaScript.
It is easy fix.

[2017-02-19 10:15] generalelectrix commented on #98
No this is great, no need in my opinion.  Thanks!

[2017-02-19 10:16] KalitaAlexey commented on #99
I will open a PR in 1 hour.

[2017-02-19 10:17] generalelectrix commented on #99
"I am stupid and don't know TypeScript/JavaScript."

That makes two of us :)

[2017-02-19 11:43] #99 closed

[2017-02-19 12:56] torkleyy opened #101 "Show function parameter names and types in RLS mode"
Version of VSCode: `1.9.1`, commit `f9d0c687ff2ea7aabd85fb9a43129117c0ecf519`
Version of the extension: `0.3.7`
OS: Linux 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Description:

I can only see those in Legacy mode (with racer). Is this a problem with RLS or is it just not implemented for this plugin?

[2017-02-19 16:12] KalitaAlexey commented on #101
Hello @torkleyy,
I can't answer the question right now.
I will check and write back.

[2017-02-19 16:56] KalitaAlexey commented on #101
@torkleyy,
I have checked it.
It really doesn't show.
My extension doesn't do any special for anything RLS exposes.
It seems RLS doesn't have the feature implemented.

[2017-02-19 20:46] KalitaAlexey commented on #80
It isn't a fork anymore.

[2017-02-19 21:00] KalitaAlexey commented on #80
It is organization's repository now.

[2017-02-19 21:00] #80 closed

[2017-02-20 05:05] #90 closed

[2017-02-20 15:12] KalitaAlexey commented on #82
@vessd,
I have opened a [PR](https://github.com/editor-rs/vscode-rust/pull/104) which would allow you to restart RLS after you defined a module.

[2017-02-20 17:08] vessd commented on #82
I will try it

[2017-02-20 17:14] KalitaAlexey commented on #82
@vessd,
There is a problem right now.
Restart doesn't actually stop RLS.
It is RLS problem.
I am working on it.

[2017-02-20 17:43] KalitaAlexey commented on #82
I have described the problem in the pull request.

[2017-02-20 19:04] vessd commented on #82
@KalitaAlexey
Yes, I know it's a RLS problem.
Thank you for your hard work to fix this.

[2017-02-20 22:05] redactedscribe opened #106 "Question: Integrate ability to set which path to `cd` before Cargo command in terminal? (Cargo's CWD)"
Version of the extension: 1.3.8

When `executeCargoCommandInTerminal` is set to `true`, it would be nice to be able to override which directory the extension `cd`s into before it runs the Cargo command. This is useful, for example, when the binary is looking for resources in the current directory, but they only exist in the `target/debug`. I couldn't find any way to influence what Cargo considers

[2017-02-21 00:48] #97 closed

[2017-02-21 01:23] redactedscribe opened #107 "Question: Why don't some crates show all possible auto-completions?"
Version of VSCode: 1.3.8

Some libraries don't show all the possible auto-completions. When trying the same crate in IntelliJ IDEA, all completions are shown. For example:

Cargo.toml:
[code]
main.rs:
[code]
…only 2 suggestions are displayed for the `graphics` submodule, when IntelliJ IDEA displays all 60 or so. Below are the two suggestions that are displayed.

rust-sfml/src/graphics/mod.rs:
[cod

[2017-02-21 04:50] KalitaAlexey commented on #106
@redactedscribe,
The current working directory is a directory where the chosen **Cargo.toml** exists.
It is intuitive.

[2017-02-21 04:51] KalitaAlexey commented on #107
@redactedscribe,
Legacy Mode or RLS Mode?
If it is Legacy Mode and the crate has macroses, racer is bad at it.
If it is RLS Mode it needs to be examined.

[2017-02-21 21:41] redactedscribe commented on #107
I will look into it. I still must determine if I have installed RLS correctly to rule out any issue there. I know for a fact that Legacy Mode did not show all the auto-completions. I think there was no difference when using RLS Mode, but again I'm not sure if my RLS installation is correct.

[2017-02-21 22:05] redactedscribe commented on #106
Do you have any suggestion on how to have a better workflow for this problem? The compiled binary looks for the DLLs in its directory, but cannot find them when `cargo run` from the project root. This means I cannot do the Cargo: Run command from VS Code but instead must use another terminal which is in `target/debug`.

[2017-02-21 23:24] sinkuu commented on #107
RLS haven't yet implemented compiler based completion, and uses Racer as a completion backend currently.

[2017-02-22 04:35] KalitaAlexey commented on #106
@redactedscribe,
I suppose I can add a new configuration parameter named "cargoCommandCwd".
If it was `null`, then the extension would behave as it behaves now, otherwise the extension would execute a command in the specified cwd.
It is that simple.

[2017-02-22 07:39] redactedscribe commented on #106
@KalitaAlexey This sounds useful in my case at least. If implemented, I think the configuration parameter should have a comment suggesting this setting not be changed under normal circumstances.

[2017-02-22 07:42] KalitaAlexey commented on #106
@redactedscribe,
The configuration parameter would be described in the documentation.
Consequences would be described.
I think it is enough.
Do you?

[2017-02-22 07:51] redactedscribe commented on #106
In the docs is fine too, yes.

[2017-02-22 14:09] 0x7CFE opened #110 "`item.changes.forEach` is not a function during rename"
VSCode version info:
[code]

RLS version (built from source):
[code]

Version of the extension: `0.3.8`
OS: Linux

Description: Select variable, hit F2 to rename, enter new name, press enter.
Expected result: Variable is renamed.
Actual result: Info message «provider failed» appears.

Official plugin (`rls_vscode`) works as expected.

Output of the "Rust logging" channel:
[code]

FYI: This excepti

[2017-02-22 15:50] KalitaAlexey commented on #110
I'll look at it.
Thanks.

[2017-02-22 19:44] KalitaAlexey commented on #110
The problem is caused because my extension uses newer version of `"vscode-languageclient"`.
I have opened an issue: https://github.com/Microsoft/vscode-languageserver-node/issues/173

[2017-02-23 10:09] redactedscribe commented on #107
I see. Hopefully this will be solved through the compiler-completion.

@sinkuu Do you know if RLS is eventually going to be much simpler to install so even newbies can leverage its features? The information on how to build it I found to be rather arcane.

[2017-02-23 11:08] KalitaAlexey commented on #107
Of course it would be easy.
At some point it would be enough to do `cargo install rls`.

[2017-02-23 19:13] LordZane opened #112 "Dont popup console for GotoDef error because its disruptive"
Version of VSCode: 1.9.1
Version of the extension: 0.3.8
OS: Arch Linux (4.9.11-1-ARCH)

Description: Pressing `Ctrl` on something where you cant go to defenition pops up the console. It would be nice to not pop up the console for this error, because it occurs frequently when trying to GotoDef on something but your mouse is slightly off the text, and popping up the console is disruptive

Output of

[2017-02-23 22:34] redactedscribe commented on #107
Okay, thanks.

[2017-02-24 09:12] KalitaAlexey commented on #112
Hello @LordZane,
Thank you for your idea.
It is easy change.

[2017-02-25 01:14] redactedscribe opened #115 "Extension builds crate even when active *.rs file is not part of the workspace."
Version of the extension: 0.3.8

The steps assume `"rust.actionOnSave": "build"`.

1. Open VS Code and open a directory that is the root of a crate.
2. Build the crate.
3. Create a file on your desktop named `foo.rs` and open the file in your VS Code instance.
4. With `foo.rs` active, running the build command builds the same crate as it did before.

If you repeat the steps and skip step 2, step 4

[2017-02-25 02:25] mappu opened #116 "windows: failed to install tools (powershell doesn't understand &&)"
**Version of VSCode:** 1.9.1
**Version of the extension:** 0.3.8
**OS:** Windows 10

**Description:**
I clicked to install the rust tools (racer / rustfmt / rustsym).
But it failed because vscode's default terminal is Powershell, and current versions of Powershell (5.1) still don't understand `&&` as a command separator.

[code]

Can the extension detect the type of terminal (powershell/cmd/bash)

[2017-02-25 05:56] KalitaAlexey commented on #116
Hello @mappu,
Thank you for your note.
Today I'll open a PR to fix that.

[2017-02-25 05:59] KalitaAlexey commented on #115
@redactedscribe,
It was intentional design solution.
The motivation is that you may want:
* Open a executable project in VSCode
* Open a file of a library which the executable project depends on
* Change the file
* Execute `"Cargo: Build"` to see whether the executable project still works

[2017-02-25 06:01] #106 closed

[2017-02-25 06:17] redactedscribe commented on #115
I see, that could be useful indeed. It was mostly just an inconvenience but nothing major. If someone else finds a stronger reason for this to change, they should comment. I'll close this as resolved.

[2017-02-25 06:17] #115 closed

[2017-02-26 06:54] #112 closed

[2017-02-26 06:58] #116 closed

[2017-02-26 07:23] KalitaAlexey opened #119 "Update vscode-languageclient to the latest version when the rename related bug is fixed"
[The PR](https://github.com/editor-rs/vscode-rust/pull/118) degrades the version of `vscode-languageclient` in order to fix [the issue](https://github.com/editor-rs/vscode-rust/issues/110)

The version should be updated when [the issue](https://github.com/Microsoft/vscode-languageserver-node/issues/173) is fixed.

[2017-02-26 07:23] #110 closed

[2017-02-26 07:27] #46 closed

[2017-02-26 07:27] #49 closed

[2017-02-26 07:28] #57 closed

[2017-02-26 07:28] #42 closed

[2017-02-26 10:23] 0x7CFE commented on #110
Could you please tell me how to update the plugin? VS Code do not show me that any plugin updates are available, hence rename still not working.

[2017-02-26 11:28] KalitaAlexey commented on #110
I am opened a PR to bump version.
https://github.com/editor-rs/vscode-rust/pull/120
When it is checked,
I will publish new version you could update it from marketplace.
You may install version from source:
https://github.com/editor-rs/vscode-rust/blob/master/doc/install_extension_from_source.md

[2017-02-26 12:07] 0x7CFE commented on #110
Ok, got it. Thank you!

[2017-02-26 22:57] staal opened #123 "Documentation lacking for RLS install with rustup"
On "https://github.com/editor-rs/vscode-rust/blob/master/doc/rls_mode/main.md" the following snippet lacks info on where to put the "rust.rls" configuration parameter. Where does this belong?

edit: clarified, its the "rust.rls" that I can't see where belongs.

[2017-02-27 02:56] redactedscribe commented on #123
Most extensions store their settings in the same `settings.json` that VS Code uses to store its own, and `vscode-rust` is no exception. The easiest way to do this is via File > Preferences > Settings, and then scroll down and expand "Rust Extension Configuration". The last entry is currently `rust.rls` and if you mouse-over it, you can click the pencil on the left that appears and "Copy to Setting

[2017-02-27 03:30] cmr opened #125 "extern crate and cargo with RLS"
Version of VSCode: 1.9.1
Version of the extension: 0.3.8
OS: Arch Linux x64

# Steps to reproduce:

1. Create a new project: `cargo new foo`
2. Open VS Code in that directory: `code foo`
3. Open `Cargo.toml` and add `byteorder = "*"` to `[dependencies]` section. Save file.
4. Open `lib.rs` and add `extern crate byteorder;` to top of file.

# What happens:

Error squiggle on `extern crate byteorder

[2017-02-27 03:34] cmr commented on #125
(I suspect this is an RLS problem, that #104 would help with)

[2017-02-27 04:04] KalitaAlexey commented on #125
Hello @cmr,
Yes it is.
It is ugly, but it works.

[2017-02-27 08:56] #123 closed

[2017-02-27 13:42] hellp opened #126 "`cargo check` availability check fails in cwd = /"
Version of VSCode: 1.9.1
Version of the extension: 0.3.9
OS: Ubuntu 14.04

Description:

I have cargo-check installed, and calling it from within the project directory it succeeds. The extension however (in [checkCargoCheckAvailability()](https://github.com/editor-rs/vscode-rust/blob/master/src/components/cargo/cargo_manager.ts#L200)), runs `cargo check --help` in the system's root directory, in w

[2017-02-27 15:15] KalitaAlexey commented on #126
@help,
You don't need `cargo-check`.
It works for `check` within `cargo` which isn't stable yet.

[2017-02-27 16:05] hellp commented on #126
But the output is different. Cannot check right now, but if I shortcut the internal function and force the extension to use "cargo check", then this produces JSON output, which then creates nice error messages in the problems tab. "cargo rustc ..." produces plain text, which does not populate the problems tab.

Maybe I reformulate what I want: I'm on rust stable, I have a working "cargo check", ho

[2017-02-27 16:06] hellp commented on #126
What do you mean by "check within cargo isn't stable yet"?

[2017-02-27 16:45] KalitaAlexey commented on #126
@hellp,
Cargo Nightly has the subcommand `check`.
Let me check your case.

[2017-02-27 16:53] KalitaAlexey commented on #126
@hellp,
Oh!
It's a bug.
It should have used `cargo rustc`, but also should have populated the Problems.
It is a bug, and I am going to fix it.
Sorry for that.

[2017-02-27 16:58] KalitaAlexey commented on #126
I will publish a new version.

[2017-02-27 17:01] hellp commented on #126
@KalitaAlexey but you are correct, I'm using cargo nightly:

[code]

Didn't remember that.

[2017-02-27 17:01] hellp commented on #126
Thanks for your efforts! :)

[2017-02-27 17:02] #126 closed

[2017-02-27 17:15] KalitaAlexey commented on #126
@hellp,
It isn't nightly.

[2017-02-27 17:21] KalitaAlexey commented on #126
The new version is published.
Update and check it.

[2017-02-27 17:36] hellp commented on #126
@KalitaAlexey works for me. It runs `cargo rustc --message-format json -- -Zno-trans` now, which results in good output. All fine :)

I still wonder about this code:

[code]

Here the code is basically performing: `cd / && cargo check --help`, and this fails with status code 128, and the Promise yields `false` and thus disables the usage of `cargo check`. At least that's what happens on my system.

[2017-02-27 17:45] KalitaAlexey commented on #126
@hellp,
I meant it to work this way.
`--help` should work without `Cargo.toml` on Nightly.

[2017-02-27 17:47] hellp commented on #126
@KalitaAlexey Ah, cool, good to know. Then it's okay.

[2017-02-27 22:04] mixedCase opened #129 "Allow showOutput exception for check."
I'm currently using the "check" actionOnSave, and every time I save the bottom window switches to the output tab, rather than the problems one I was on.

While I could set rust.showOutput to false, that means that running the other Cargo commands will no longer switch to the output tab.

Is there any chance to have an exception for this usecase? Thanks.

[2017-02-28 03:53] KalitaAlexey commented on #129
@mixedCase,
I don't see any reason to add any exceptional cases.
If you didn't need the output channel most of the time, I would suggest you to set `"rust.showOutput"` to `false` and to show the output channel via **View->Output** when you needed it.

[2017-02-28 16:34] KalitaAlexey commented on #129
@mixedCase,
The extension will show the Problems panel when VSCode provides API for that.
Until than I am inclined to keep it as is.
Let's hear other people's opinions.
If they want it, I will add it.
What do you think about it?

[2017-02-28 16:49] mixedCase commented on #129
As fair as can get. Thank you.

As for the implementation detail, I think simply not switching to the output tab on running the check command would be enough until such an API for the problems tab becomes available. I took a cursory glance to the cargo component source and I'm not sure what even causes the switch to the output tab to be honest, so I don't know if what I just proposed viable.

[2017-02-28 16:53] KalitaAlexey commented on #129
@mixedCase,
It is really easy to add.
[The line which shows the output channel](https://github.com/editor-rs/vscode-rust/blob/master/src/components/cargo/output_channel_task_manager.ts#L138).
It is enough to modify the condition.
I just don't want to add anything, which other may not like.

[2017-02-28 17:45] mixedCase commented on #129
I've left messages on the official forum, mozilla's #rust, freenode's ##rust and #rust:matrix.org asking for people to leave feedback here on wether they would be in favor or opposed to the feature. In each occasion, only once did someone using VSCode for Rust development chime in, and he wasn't using check on save.

If nobody answers in X amount of time (leaving X to you), can we assume there's n

[2017-02-28 17:54] KalitaAlexey commented on #129
@mixedCase,
I will implement it tomorrow.
Okay?

[2017-02-28 17:59] mixedCase commented on #129
Haha, well thanks! Sorry for the insistence.

[2017-02-28 23:03] letmaik opened #130 "rustlib/src not existing, Racer: crashed"
Version of VSCode: 1.9.1
Version of the extension: 0.3.10
OS: Win 10

Description: After installing rust on Windows using rustup, installing the extension in vs code, and letting it install racer, the following error occurs. I checked the folder given below and the `src` directory in the `rustlib` folder *does not* exist. Shouldn't that be installed automatically at some point?

Output of the "Rus

[2017-03-01 01:41] myrrlyn commented on #129
If it helps, I'm in favor of this as well. To me, the Output pane is for things I'm running directly, whereas the Problems pane is for VSCode deciding to spontaneously talk to me about issues.

Fantastic plugin, Kalita, thanks for all your effort in maintaining it. You make VSCode a hell of a Rust editor.

[2017-03-01 04:44] KalitaAlexey commented on #129
@myrrlyn,
I am actually Alexey)

[2017-03-01 04:45] KalitaAlexey commented on #129
I am going to make the extension not show the output channel if the command which to be executed is either `build` or `check`.
The old behavior remains for `clippy`, `run`, `test` because they show the output which the extension cannot show in the Problems panel.

[2017-03-01 04:47] KalitaAlexey commented on #130
Hello @letmaik,
There is a problem.
The extension should have shown you the message box allowing you to install `rust-src` component.
I need to check it.
Last time I checked it, it worked.

[2017-03-01 04:50] myrrlyn commented on #129
50/50 shot and I guessed wrong :(

I was going to guess that but I've seen enough last names that looked like first names I wasn't sure if I wanted to go against my assumptions on ordering.

Thanks *Mr.* Kalita :p

On Feb 28, 2017 9:44 PM, Alexey <notifications@github.com> wrote:

@myrrlyn<https://github.com/myrrlyn>,
I am actually Alexey)

—
You are receiving this because you were mentioned.
Repl

[2017-03-01 04:57] KalitaAlexey commented on #130
@letmaik,
I have found the problem. I am stupid and I hate TypeScript.
I am to open the PR to fix that.

[2017-03-01 08:22] #130 closed

[2017-03-01 17:56] KalitaAlexey commented on #129
Little change.
I want to make the extension not show the output channel only for the check command and only if the command is executed because `actionOnSave` is set to `"check"`.
My motivation is that the user invoked any command via the command palette expects some feedback.
`actionOnSave` = `check` may be used for RLS-like behavior.

@mixedCase @myrrlyn,
What do you think about it?
I am suspend

[2017-03-01 18:16] myrrlyn commented on #129
The output from `check` is unnecessary if it's clean, so I'm not opposed to silencing it when invoked automatically. I presume that when the RLS shows up more permanently it'll report issues to the Problems pane? I think that'd be fine.

I'm happy with check-on-save being silenced so far, I think.

[2017-03-01 19:40] KalitaAlexey opened #132 "Allow a developer to execute inbuilt cargo command with custom configuration"
Hello everybody.

Currently the action, which the configuration parameter `"rust.actionOnSave"` is set to, uses the corresponding configuration parameter to get arguments (buildArgs, checkArgs, ...).

Do you want to have ability to use custom configurations with action on save?

Thanks

[2017-03-02 02:02] redactedscribe opened #134 "Consider adding language-specific editor defaults for the extension."
Version of VSCode: 1.10.1
Version of the extension: 0.3.10

VS Code now supports extensions specifying [language-specific editor settings](https://code.visualstudio.com/updates/v1_10#_language-specific-editor-settings). As far as I'm aware, these are considered the most commonly used settings for Rust code (though there is no 100% agreed upon convention).

`vscode-rust/package.json`:
[code]

If th

[2017-03-02 04:56] KalitaAlexey commented on #134
@redactedscribe,
Interesting idea.

[2017-03-02 13:39] #129 closed

[2017-03-02 17:51] KalitaAlexey commented on #132
@redactedscribe,
What do you think about it?

[2017-03-02 17:51] KalitaAlexey commented on #132
@redactedscribe,
Do you have any IM so we can have a chat?

[2017-03-02 17:52] KalitaAlexey commented on #125
#104 has been merged.

[2017-03-02 19:00] KalitaAlexey commented on #51
The version 1.10 of Visual Studio Code has been published.
The issue has been fixed.

[2017-03-02 19:00] #51 closed

[2017-03-03 14:52] redactedscribe opened #137 "Consider limiting `rustfmt` to the text selection if one exists"
Version of the extension: 0.3.10

Sometimes I find it useful to format part of a source file, however `rustfmt` formatting is applied to the entire document. It would be nice if `rustfmt` only formatted text that was currently selected, and formatted everything when no selection.

From my understanding, `provideDocumentRangeFormattingEdits` needs to be implemented so that the `editor.action.format

[2017-03-03 14:55] KalitaAlexey commented on #137
There is a PR for that: https://github.com/editor-rs/vscode-rust/pull/122

[2017-03-03 14:56] redactedscribe commented on #137
I must be blind, good stuff!

[2017-03-03 18:17] #137 closed

[2017-03-03 19:26] redactedscribe opened #138 "`actionOnSave` does not trigger when saving and file is clean"
Version of the extension: 0.3.10

The `actionOnSave` configuration parameter works only when a file is saved and was also dirty. VS Code now allows you to [save manually](https://code.visualstudio.com/updates/v1_10#_manually-trigger-save-actions), even when the file is not dirty.

Running in legacy mode with `"rust.executeCargoCommandInTerminal": true`.

[2017-03-03 21:10] redactedscribe opened #139 "Consider adding config param to opt-out of `rust.actionOnSave` being affected by Auto Save"
Version of the extension: 0.3.10

The extension could check if the file was saved manually as opposed to by File > Auto Save. When set to save automatically via the File menu, `"files.autoSave": "afterDelay"` is set. This triggers `rust.actionOnSave` each time after the default `"files.autoSaveDelay": 1000`.

`"afterDelay"` for `files.autoSave` is not particularly useful for `*.rs` files when `rus

[2017-03-04 07:20] KalitaAlexey commented on #138
Hello @redactedscribe,
I didn't checked that.
I will.

[2017-03-04 07:22] KalitaAlexey commented on #139
@redactedscribe,
I didn't know that Action On Save is executed if a file saved automatically.
I will check if it is.
If it is, I will disable Action On Save because that's what behavior is correct.
People want to execute Action On Save when they save, not the program.

[2017-03-04 07:23] KalitaAlexey commented on #139
If anyone disagrees with my opinion, speak up.

[2017-03-04 07:40] KalitaAlexey commented on #138
In my opinion, the extension behaves correctly now.
I don't like the new feature introduced by VSCode.
All commands, which are possible to invoke on saving, may be invoked from the command palette.
I am inclined to keep the behavior.

[2017-03-04 07:56] KalitaAlexey commented on #139
This issue and #138 (`actionOnSave` does not trigger when saving and file is clean) lead to the tricky situation.
If we changed Action On Save not to execute on saving automatically and kept the current behavior of Action On Save if all files are clean, the user would have to execute a command from the command palette manually.
I like this decision as it leads to none of problems.

[2017-03-04 14:36] mtsr commented on #138
I disagree. Personally I prefer things like fmt and clippy to run every time I save, including when the file is clean.

[2017-03-04 15:45] KalitaAlexey commented on #138
@mtsr,
I am not sure if you understand what we are talking about.
"A file is clean" means it has no unsaved changes.
You still execute any command, format via Right Click.

[2017-03-04 17:32] redactedscribe commented on #139
I understand what you mean. But ultimately it's not the program that saves, the user has chosen to enable Auto Save and may want to use that combined with `actionOnSave`. I think people would assume Auto Save to trigger `actionOnSave`, so they may not understand why it's not triggering. This why I suggested an opt-out feature to disable Auto Save triggering the action. With this feature implemente

[2017-03-04 17:35] redactedscribe commented on #138
From my perspective, the parameter is named `actionOnSave` and therefore should execute when save occurs, no matter if the file is clean. I have found myself often typing a ` ` to dirty the file, just to save to trigger a build. It's more convenient than Ctrl+Shift+R/B for me.

[2017-03-04 17:43] KalitaAlexey commented on #139
Let's think other people opinions.

[2017-03-04 17:43] KalitaAlexey commented on #138
Okay.
If you say so.
I will modify code.

[2017-03-04 18:06] redactedscribe commented on #139
Good idea.

[2017-03-06 09:37] Doaxan opened #140 "thread '<unnamed>' panicked at 'called `Option::unwrap()` on a `None` value'"
Version of VSCode: 1.10.1
Version of the extension: 0.3.10
OS: Fedora 25 x86_64

Description:
Sometimes rls dont work and i get:

[code]

Output of the "Rust logging" channel:
[code]
settings.json:

[code]

rustup:

[code]

[2017-03-06 10:07] KalitaAlexey commented on #140
@Doaxan,
Next version will include https://github.com/editor-rs/vscode-rust/pull/104
Now you have no choice to restart RLS.
RLS panicking is bad.
You should open an issue in https://github.com/rust-lang-nursery/rls/issues

[2017-03-06 13:29] KalitaAlexey commented on #53
@nolimitk,
How are you doing this feature?

[2017-03-07 12:22] pftbest opened #143 "vscode-rust extension does not start"
Version of VSCode: 1.10.1
Version of the extension: 0.3.10
OS: Linux 4.9.11-1-ARCH x86_64

Description:
vscode-rust extension does not start

Debug console:
[code]

Output of the "Rust logging" channel:
[code]

[2017-03-07 12:52] KalitaAlexey commented on #143
@pftbest,
It is interesting.

[2017-03-07 13:53] pftbest commented on #143
Yes, strage, it was working great until recently. I think I just updated rust nightly and updated racer.

[2017-03-07 14:13] redactedscribe opened #144 "Attemping to format document fails on long lines"
Version of VSCode: 1.10.1
Version of the extension: 0.3.10
OS: Windows 10

When running the `Format Document` command on some code longer than 100 characters, the RLS complains:

Output of the "Rust Language Server" channel:
[code]

I'm not sure if this is a fault with the RLS, or something to do with how the extension passes information to RLS. Here is the code that gives me the above error:

[co

[2017-03-07 15:16] KalitaAlexey commented on #143
@pftbest,
It worked before?
Until which version?

[2017-03-07 15:17] KalitaAlexey commented on #144
I will look at it.

[2017-03-07 15:32] pftbest commented on #143
Yes it worked before. I don't know what versions I was using. Now with latest nightly and latest racer it doesn't work.

[2017-03-07 15:33] pftbest commented on #143
I suspect that racer may be crashing, but I don't know for sure, because I don't see any logs.

[2017-03-07 15:43] KalitaAlexey commented on #143
@pftbest,
It isn't related to any tools except my extension and Visual Studio Code.

[2017-03-07 16:17] pftbest commented on #143
I tried stating code from the terminal and it works. When I start it from desktop icon it does not work.
So maybe it doesn't like my $PATH ?

[2017-03-07 16:23] KalitaAlexey commented on #143
@pftbest,
Oh yes. It does.
I don't quite remember why.

[2017-03-07 16:24] pftbest commented on #143
So how do I fix it? it was working before, and I don't remember changing anything

[2017-03-07 16:26] KalitaAlexey commented on #143
It worked by starting VSCode from desktop?

[2017-03-07 16:29] pftbest commented on #143
Yes, I always started it from desktop. I just checked RustyCode and it works from desktop, but this extension doesn't work.

[2017-03-07 16:58] KalitaAlexey commented on #143
@pftbest,
I'll try to find a problem.

[2017-03-07 17:00] pftbest commented on #143
Ok, I tried to debug the extension using vscode and when I start it from debugger it fails only in 50% of launches. So it is intermittent, and maybe that is why I didn't notice it for so long.
I tried older versions and I think `0.3.6` always works, but `0.3.7` is sometimes failing. So the issue is probably somewhere in between.

[2017-03-07 17:15] pftbest commented on #143
Ok, found the commit:
e7ee78bfe488030d6803f5379b47f1b8c9c65cb6 -> works 10/10
8959ce6ff8660738c9602e97dbe0053f6792e7e9 -> fails 50%

[2017-03-07 17:28] booyaa opened #145 "Enhancements to crate testing"
Version of VSCode: 1.10.1
Version of the extension: 0.3.10
OS: macOS 10.12.2 (Sierra)

Description:

Testing should have better integration with vscode rust extension.

1) Enable Test runner in status bar (see screenshot)

![codelen-screenshot-2](https://cloud.githubusercontent.com/assets/192864/23669147/19c3250c-035b-11e7-8e59-df91f8a8cb8e.png)

2) Add the ability to run or debug tests as a codel

[2017-03-07 18:20] KalitaAlexey commented on #143
@pftbest,
I know that, but I don't get it why.

[2017-03-07 18:29] KalitaAlexey commented on #143
@pftbest,
How do you run it from Desktop?

[2017-03-07 18:32] pftbest commented on #143
It is pinned in KDE 5 TaskBar

Strange thing that it was working yesterday the whole evening. Today in the morning I did rustup update and cargo install --force racer. And now it doesn't work. I don't think I updated the extension and I certainly did not update vscode.

[2017-03-07 19:48] mtsr opened #146 "formatOnSave"
Would you consider adding an option for formatOnSave similar to the old RustyCode extension?

[2017-03-07 22:49] KalitaAlexey commented on #146
@mtsr,
There is "editor.formatOnSave".

[2017-03-08 05:30] mtsr commented on #146
Afaik that only works for languages with built-in formatting capabilities in vscode.

--

Jonas

[2017-03-08 07:11] KalitaAlexey commented on #146
@mtsr,
It works for me.
If it doesn't work, it is a bug.

[2017-03-08 07:59] KalitaAlexey commented on #145
@booyaa,
The first isn't worth it since there are: a shortcut (CTRL+T), a command (Cargo: Test).
The second one is interesting, but it requires time.

[2017-03-08 08:50] KalitaAlexey commented on #143
For some reason, I am no longer able to debug the extension.
I have opened an issue:
https://github.com/Microsoft/vscode/issues/22201

[2017-03-08 08:54] booyaa commented on #145
I've given more examples of why the first is useful. Asides performing the same function you refer to (Cargo: Test) it also gives status of tests.

![failed_tests_in_statusbar](https://cloud.githubusercontent.com/assets/192864/23696710/c2c84a98-03dc-11e7-90f6-b43bfc07131b.png)

![test_status_in_command_palette](https://cloud.githubusercontent.com/assets/192864/23696722/d5d80a74-03dc-11e7-93be-73c7

[2017-03-08 08:57] KalitaAlexey commented on #145
Wow. Icons. Cool.
What is the extension?

[2017-03-08 09:25] booyaa commented on #145
Both features can be found in this Python language extension: https://marketplace.visualstudio.com/items?itemName=donjayamanne.python

[2017-03-08 13:12] loganmzz opened #147 "Automatically add doc tag on newline"
Version of VSCode: 1.9.1
Version of the extension: 0.3.10
OS: Windows

Description:
When editing Rust documentation (```///```), it will be nice to automatically adds prefix (```/// ```, with same indentation of last editing line and with a single space after slashes) when entering a new line.

Step 0) Just a function declaration
[code]

Step 1) Starting to document
[code]

Step 2) Just pressing e

[2017-03-09 10:47] pftbest commented on #143
I know what is happening. `stdout` is asynchronous, so it may not be ready when `exit` is called.
To test this i changed the code to look like this:
[code]
When I run it, sometimes I see the logs in normal order:
[code]
But sometimes they are in reverse:
[code]

[2017-03-09 11:05] KalitaAlexey commented on #143
It is interesting.

[2017-03-09 11:16] pftbest commented on #143
nodejs documentation even has a warning about this:

[2017-03-09 11:22] KalitaAlexey commented on #143
@pftbest,
I, as all we, don't read the documentation.
It is intersting note.

[2017-03-09 11:57] pftbest commented on #143
This change works for me. I am using `close` event instead of `exit` because it happens after stdio is closed.
I'm not a javascript programmer so you can probably rewrite it better.
[code]

[2017-03-09 12:18] KalitaAlexey commented on #143
It will try to find a solution.
Thank you for your observation.

[2017-03-12 07:55] FaultyRAM commented on #140
This appears to be a duplicate of https://github.com/rust-lang/cargo/issues/3819

[2017-03-13 04:34] amilajack commented on #143
Correct me if i'm wrong. I think i'm experiencing something similar. My autocomplete isnt working. I clicked on the 'Install Rust Tools' yellow text in the bottom right corner and after a while, the packages finished installing. But i didnt notice any difference in the IDE suggestions. Any idea what's causing this?

<img width="726" alt="screen shot 2017-03-12 at 9 26 37 pm" src="https://cloud.git

[2017-03-13 04:37] KalitaAlexey commented on #143
@amilajack,
Did you restart VSCode after installing?

[2017-03-13 04:40] amilajack commented on #143
Yea, clicked the reload icon. That didn't work so I I closed it and reopened it manually

[2017-03-13 04:41] KalitaAlexey commented on #143
@amilajack,
After installing you should have restarted VSCode via closing and opening a window.
I have some problems to fix, after them I will clarify what to do.

[2017-03-13 04:43] amilajack commented on #143
@KalitaAlexey I updated my comment to add my config. Hopefully that helps you with debugging

[2017-03-13 04:44] #143 closed

[2017-03-13 05:03] amilajack commented on #143
I just noticed a small button saying 'Racer crashed':

<img width="787" alt="screen shot 2017-03-12 at 10 02 02 pm" src="https://cloud.githubusercontent.com/assets/6374832/23842183/afe6ad84-076f-11e7-9c0d-3bb5f9bab152.png">

[2017-03-13 05:17] KalitaAlexey commented on #143
@amilajack,
I am unsure whether `"` repeated 2 times is okay.
I will look what can I do.
If you want to workaround right now, you can set `rust.rustLangSrcPath`.

[2017-03-13 05:17] KalitaAlexey commented on #143
Open a new issue for that.

[2017-03-13 12:51] KalitaAlexey commented on #146
I am closing the issue.
If there is something left, reopen it.

[2017-03-13 12:51] #146 closed

[2017-03-13 13:00] KalitaAlexey commented on #144
@redactedscribe,
It is not a bug, but a feature.
Refer the linked issue in RLS repository for details.

[2017-03-13 13:01] #125 closed

[2017-03-14 00:09] redactedscribe commented on #144
@KalitaAlexey I see. Thanks for your efforts.

[2017-03-14 00:09] #144 closed

[2017-03-14 14:53] 0x7CFE opened #150 "Latest RLS broke variable and hover highlighting"
RLS version:
[code]

Version of VSCode:
[code]

Version of the extension: 0.3.10
OS: Linux

Description: Previously when I put a cursor on a local variable, editor highlighted all occurences of this particular variable in it's context. Now it simply renders the cursor in the middle of the word. Also, highlight on hover is broken.

Output of the "Rust logging" channel:
[code]

[2017-03-14 23:03] steveklabnik commented on #26
cargo check lands on thursday 🎊

[2017-03-15 02:38] dyzdyz010 opened #151 "Not showing hover-documentation in RLS mode"
Version of VSCode: 1.10.2
Version of the extension: 0.3.10
OS: macOS Sierra 10.12.3

Description:
I installed this extension along with racer, RLS, rustfmt, rustsym following instructions in each repo, using rustup, but in VSCode in `RLS mode`, I hover my pointer on some type the related docs doesn't show up, while legacy mode acts normal on this.

When I have `"RUST_LOG": "rls=debug"` in config,

[2017-03-15 04:03] 0x7CFE commented on #150
Looks like the latest RLS version (e24fc84b) works fine.

[2017-03-15 04:03] #150 closed

[2017-03-15 07:44] booyaa commented on #145
Related issue in RLS https://github.com/rust-lang-nursery/rls/issues/173

[2017-03-15 07:53] KalitaAlexey commented on #26
It's nice.

[2017-03-16 18:31] radix opened #152 "backtrace doesn't link to my source code reliably (subprojects)"
Version of VSCode: **1.10.2**
Version of the extension: **0.3.10**
OS: Windows 10

Description:

When I run my tests, the stack traces sometimes link to my source code (so that I can ctrl-click a filename in the traceback and have it open the editor to that file/line etc), and sometimes doesn't. This may be related to the fact that I use Cargo workspaces with subprojects.

As an example, if I hit

[2017-03-16 19:17] KalitaAlexey commented on #152
@radix,
I have opened such an issue in rust a week ago.

[2017-03-16 19:30] radix commented on #152
@KalitaAlexey oh, cool :) I tracked it down so I could subscribe (and for anyone who is interested): https://github.com/rust-lang/rust/issues/40149 I assume that's the one you meant.

[2017-03-16 19:31] KalitaAlexey commented on #152
Yes, it is.

[2017-03-17 16:34] steveklabnik commented on #26
It's now stable!

[2017-03-18 03:39] warmwaffles commented on #147
This would be a very nice addition. I wonder how hard it is to implement.

[2017-03-18 08:35] KalitaAlexey commented on #147
@warmwaffles,
I suppose it isn't possible right now.
I am try to find a way sometimes.

[2017-03-19 12:45] FaultyRAM opened #154 "`editor.formatOnSave` appends a newline if the file ends in zero or one newlines"
Version of VSCode: 1.10.2
Version of the extension: 0.3.10
OS: Windows 10 Pro, version 1607 (x64)

Description: When saving a .rs file with both the Rust extension and `editor.formatOnSave` enabled, a newline is appended if the file ends in zero or one newlines.

(Also, there's a boolean setting `files.insertFinalNewline` which is being ignored here, but I don't know if `editor.FormatOnSave` bypas

[2017-03-19 18:22] KalitaAlexey commented on #154
@FaultyRAM,
Try run `rustfmt` on such a file.
If an empty line wasn't appended, write here.

[2017-03-19 21:13] martinlindhe opened #155 "error: file not found for module"
Version of VSCode: 1.10.2
Version of the extension: 0.3.10
OS: macOS / Linux

Description: adding a whitespace & save src/main.rs to trigger rustfmt gives error, while "cargo check" sees no error. I dont see this behaviour with other files in the project than src/main.rs

Output of the "Rust logging" channel:
[code]

However, more is shown in the "Rust Language Server" channel:

[code]

I original

[2017-03-19 22:56] FaultyRAM commented on #154
rustfmt behaves correctly here; if the file doesn't end in a newline, one is appended, and if the file ends in more than one newline, the newlines after the first are truncated.

[2017-03-20 18:07] bryaan opened #156 "Feature - Specify Project Directory"
My rust project is in a child directory of my main project.

How can I specify the directory with the Cargo.toml when using RLS mode?

Did some searching on vscode-rust, RLS, and rustup, and cannot find a way to specify the project directory.

[2017-03-20 23:18] redactedscribe commented on #156
This should be what you're looking for:
[code]

[2017-03-21 02:17] bryaan commented on #156
@redactedscribe Tried both absolute and relative paths initially, but no luck.

[2017-03-21 07:07] KalitaAlexey commented on #156
@bryaan,
There is no way to do that.
I will look into your problem.

[2017-03-24 10:41] Doaxan opened #157 "Unable to open 'string.rs': File not found (/checkout/src/libcollections/string.rs)"
Version of VSCode: 1.10.2
Version of the extension: 0.3.10
OS: Fedora 25 x86_64

Description:

In general extension worked good, but after update rls i get this errors:
```let mut raw_input = String::new();```
If i try "Go to Definition" on new() i get this errors on top vscode:
[code]

[2017-03-24 20:43] KalitaAlexey commented on #157
Hello @Doaxan,
I am short of time now, I would be glad if you found cause.

[2017-03-25 10:47] lhecker commented on #157
I opened an issue for this problem here: https://github.com/rust-lang-nursery/rls/issues/227

[2017-03-25 17:07] John0x opened #158 "Support cargo workspaces"
Currently vscode-rust does not support cargo workspaces properly.
Have you yet thought about adding support for it?

[2017-03-26 15:18] KalitaAlexey commented on #158
Hello.
I haven't thought about it.
And I have no time for that now.
I would be glad to discuss it here and accept your a PR.

[2017-03-27 12:05] #119 closed

[2017-03-27 12:35] #26 closed

[2017-03-27 12:39] KalitaAlexey commented on #157
It's nice.

[2017-03-27 12:40] KalitaAlexey commented on #72
Hello @Diggsey,
I am closing this issue because I haven't received any response from you yet.
Feel free to open it again.

[2017-03-27 12:40] #72 closed

[2017-03-27 12:53] KalitaAlexey commented on #155
I am looking at this issue.

[2017-03-27 14:32] joeybloggs opened #160 "rustfmt does not run on saved file"
Version of VSCode: 1.10.2
Version of the extension: 0.3.10
OS: ubuntu 16.04 LTS
rustfmt: rustfmt --version 0.8.0 ()

Description: rustfmt does not run on saved file

Output of the "Rust logging" channel:
[code]

[2017-03-27 16:12] KalitaAlexey commented on #160
@joeybloggs,
What do you do in order to make rustfmt format your file?

[2017-03-27 17:25] joeybloggs commented on #160
@KalitaAlexey I save the changed file via the shortcut CTRL + s

rustfmt is in the path and works when run manually on a file, just doesn't fire with CTRL + s through the editor.

[2017-03-27 18:10] KalitaAlexey commented on #160
It is interesting.
Could you debug the extension?
You can find an instruction in the documentation.

[2017-03-27 19:28] joeybloggs commented on #160
@KalitaAlexey  if you can point me at the correct documentation I'll try and get to it sometime this week.

[2017-03-27 21:32] cortesi opened #161 "Linting does not work out of the box"
Version of VSCode: 1.10.2
Version of the extension: 0.3.10
OS: OSX 10.12.3

Description: Linting does not work out of the box. The documentation says that whenever a cargo command is run, output is parsed, and the problems are shown in the problem panel. This is not the case for me, unless I set ``` "rust.useJsonErrors": true```.

Here's the output for the Cargo logging channel, when parsing fails

[2017-03-28 05:19] KalitaAlexey commented on #161
@cortesi,
Update Rust to the latest stable.

[2017-03-28 05:23] KalitaAlexey commented on #160
@joeybloggs,
Have you set in your settings?

[code]

[Doc](https://github.com/editor-rs/vscode-rust/blob/master/doc/install_extension_from_source.md#running-from-the-source)

[2017-03-28 05:26] cortesi commented on #161
Nope, that's not the issue.

[code]

[2017-03-28 05:29] cortesi commented on #161
If it helps you troubleshoot, I also see the same behaviour with a current nightly.

[2017-03-28 06:48] KalitaAlexey commented on #161
@cortesi,
Please attach output of the "Rust logging" channel

[2017-03-28 08:36] cortesi commented on #161
After a reinstall of my local toolchain this behaviour is gone. I'll keep an eye out and reopen if I see it again.

[2017-03-28 08:36] #161 closed

[2017-03-28 10:19] joeybloggs commented on #160
@KalitaAlexey that was it, thanks!

As an aside, I did eventually find this [here](https://github.com/editor-rs/vscode-rust/blob/master/doc/format.md) but the information was pretty buried, many other plugins have this as an option eg. `"rust.formatOnSave": true`

I think having this information in the top level README might help others not run into the same issue.

[2017-03-28 10:19] #160 closed

[2017-03-28 12:07] KalitaAlexey commented on #160
@joeybloggs,
It is described in the documentation.

[2017-03-30 01:16] icorderi commented on #158
I'm not sure if this are the issues @John0x was referring to in workspaces.

## Environment
I just swapped to **RLS-mode** and I run into a few workspace related issues:

My workspace looks like this (it is **NOT** an rust-only workspace):

[code]

## Behavior

case 1) When I'm editing some rust file in `rust-project-a` I get the following error:

case 2) If I switch to `repo/rust` as the root of

[2017-03-30 17:20] martinlindhe commented on #155
I gave this another shot today, rebuilt rls from git master and updated rustup. The issue appears to have disappeared!

@KalitaAlexey Could you reproduce it?

Also I think I forgot to mention i used the vscode-rust version as published in vscode extensions, did not compile this project manually. I see there's been some activity since the last release, possible to tag a new point release?

[2017-03-30 18:06] martinlindhe commented on #155
Hm, actually I see it again. Will try to build this extension from source to rule out if recent commits have resolved it.

I think the `stdin:45:5` in the original post is a hint. If rls gets piped raw text without context, of course it cannot know about the other modules referenced.

[2017-03-30 18:23] martinlindhe commented on #155
Struggling to compile...

[code]

Not exactly sure how to use all these gulps and npms and typescripts in this particular project.

[2017-03-30 20:38] icorderi commented on #156
I run into this same bug but described it at #158.

The `Cargo.toml` associated with a given `*.rs` should be the first `Cargo.toml` from that file up, **NOT** from the _root_ of the [vscode-]workspace.

We should not need to specify a project directory, that would prevent us from having multiple rust projects on the same vscode-workspace.

[2017-03-30 21:37] icorderi commented on #156
Did some digging, this is what I found so far.

The **RLS** looks for the manifest [here](https://github.com/rust-lang-nursery/rls/blob/603fa4cb2b8e67553bf3d19711ff8b9ff5be82a0/src/build.rs#L427).

[code]

Which seems to get it's starting dir from a `build_dir` flying around that can be tracked to the `request_build(2)` [here](
https://github.com/rust-lang-nursery/rls/blob/603fa4cb2b8e67553bf3d197

[2017-03-31 04:11] KalitaAlexey commented on #155
@martinlindhe,
Basically it is enough to run:
[code]

[2017-04-03 17:45] mstange commented on #130
Is this fixed in 0.3.10? I'm still getting this error.

[2017-04-03 17:46] mstange commented on #130
Oh, this bug was reported for 0.3.10. So there hasn't been a new release since then.
Nevermind then.

[2017-04-04 16:03] pronebird opened #162 "Suppress output console"
This is pretty annoying. Output console turns up anytime it wants and there is no way to get rid of it. Could you please fix rust plugin and stop doing this.

[2017-04-04 23:43] chrmarti opened #163 "Extension host terminated unexpectedly"
_From @cortesi on March 31, 2017 4:56_

- VSCode Version: 1.10.2
- OS Version: macOS 10.12.3

I see this every few minutes while editing a Rust project, and vscode is essentially unusable while it is happening. I'm including a screenshot of output in the developer tools console. There doesn't seem to be anything relevant in the Output pane.

<img width="767" alt="screen shot 2017-03-31 at 5 55 08

[2017-04-04 23:43] chrmarti commented on #163
_From @aeschli on March 31, 2017 6:23_

Can you check if it is related to an extension? Run VSCode without any extension with `code --disable-extensions`.

[2017-04-04 23:43] chrmarti commented on #163
_From @cortesi on March 31, 2017 9:24_

I haven't been able to reproduce this without extensions enabled, but then also I don't (can't) use the editor extensively without extensions. From the location of the error, I'm assuming that this is an issue with managing spawned child processes within extensions.

[2017-04-04 23:43] chrmarti commented on #163
_From @aeschli on March 31, 2017 13:41_

It's likely a extension running havoc. If you can single it out and file an issue against it that would be good.

[2017-04-04 23:43] chrmarti commented on #163
Could you list the extensions you have installed with `code --list-extensions`?

[2017-04-04 23:43] chrmarti commented on #163
_From @cortesi on April 4, 2017 23:36_

I've since seen a traceback that definitely links the issue to Rust autocompletion using racer in the vscode-rust addon (attached). I haven't had time to dig into this deeply, but it seems to me that the external process crashed, taking down the extension host with it. I think there may be two bugs here - one in racer causing a crash, and one in the vscode e

[2017-04-04 23:43] chrmarti commented on #163
The extension runs on both ends and there is currently no way for us to protect against misbehaving extensions on the extension host's side. Moving to the extension, thanks.

[2017-04-05 06:29] KalitaAlexey commented on #163
@cortesi,
You should be able to debug it using [the page](https://github.com/editor-rs/vscode-rust/blob/master/doc/install_extension_from_source.md#running-from-the-source).

[2017-04-05 06:31] KalitaAlexey commented on #162
@pronebird,
Read [the page](https://github.com/editor-rs/vscode-rust/blob/master/doc/legacy_mode/main.md#show-output).

[2017-04-05 06:31] KalitaAlexey commented on #130
I will create a new version.

[2017-04-05 06:56] KalitaAlexey commented on #130
Done.

[2017-04-05 14:26] pronebird commented on #162
@KalitaAlexey thanks, I have `"rust.showOutput": false` set and it doesn't work :/ RLS pops up the console each time it outputs something in there.

[2017-04-05 16:41] KalitaAlexey commented on #162
Oh. You use RLS.
[Read](https://github.com/editor-rs/vscode-rust/blob/master/doc/rls_mode/main.md#the-revealoutputchannelon-configuration-parameter).

[2017-04-05 19:31] TedDriggs opened #165 "Autocomplete stops working after newline in expression"
Version of VSCode: 1.10.2
Version of the extension: 0.3.11
OS: MacOS 10.12.3

**Description:**
Placing the cursor at the end of line 2 and pressing "." does not provide methods in this case:
[code]

But it does provide autocomplete at the end of line 1 in this case:

[code]

**Expected:**
Whitespace in the expression shouldn't break autocomplete.

**Output of the "Rust logging" channel:**
[code]

[2017-04-06 07:16] KalitaAlexey commented on #165
@TedDriggs,
It's Racer issue.
Try [RLS](https://github.com/editor-rs/vscode-rust/blob/master/doc/rls_mode/main.md).

[2017-04-07 10:58] MaikKlein opened #166 "Renaming does not work with RLS"
Version of VSCode: 1.11
Version of the extension: 0.3.11
OS: ubuntu 16.04

Description:

RLS does not seem to work properly. For example renaming does not work and I see the following debug output. The RLS indicator is either RLS: Analysis: Started or RLS: Analysis: Finished.

Output of the "Rust logging" channel:
[code]

[2017-04-08 09:28] khaledkbadr opened #167 "Intellisense stop functioning if chaining commands in different lines"
Version of VSCode:
Version of the extension: 0.3.11
OS: macOs

Description:

Rust intellisense stop works when chaining commands in different lines.
For example I can't `peek definition` to `read_line` function if my code is like that

[code]

But it works perfectly if it's in one line like that
[code]

[2017-04-08 14:21] KalitaAlexey commented on #167
It is duplicate of #165

[2017-04-08 14:41] khaledkbadr commented on #167
Yeah, looks like it was Racer's bug. It works perfectly after updating Racer

[2017-04-08 14:41] #167 closed

[2017-04-10 10:36] Doaxan opened #168 ""Format Document" not present"
Version of VSCode: 1.11.1
Version of the extension: 0.3.11
OS: Fedora 26 TwentySix

Description:
"Format Document" not present after right click on document.

[2017-04-10 11:56] Object905 commented on #168
Same after upgrading to 0.3.11.
Shortcut doesn't work too.
And its only when using rls, in legacy mod everything is working.

[2017-04-11 07:30] KalitaAlexey commented on #168
Try https://github.com/jonathandturner/rls_vscode if `Format Document` doesn't present there, then it's RLS problem.

[2017-04-13 21:07] jhasse opened #169 "Don't override VSCode's key bindings"
Version of VSCode: 1.11.2
Version of the extension: 0.3.11
OS: Linux

Description:
Key bindings as `Ctrl+Shift+B` (run build task definied in `task.json`)  and `Ctrl+Shift+T` (restore last closed tab) are overwritten by vscode-rust.

[2017-04-14 19:39] jaysonsantos commented on #168
I can only get auto format if rls is turned on.

[2017-04-14 20:07] KalitaAlexey commented on #168
@jaysonsantos,
Try https://github.com/jonathandturner/rls_vscode
If it doesn't work either, it is a problem of RLS.

[2017-04-15 08:44] ishitatsuyuki opened #170 "Redundant synchronized section"
https://github.com/editor-rs/vscode-rust/blob/8c016b74d823773cad4aa37aa340744adf3150fb/src/components/language_client/creator.ts#L45

I guess this is a copy paste leftover.

[2017-04-15 11:22] KalitaAlexey commented on #170
Yes it is. Could you open a PR to remove that?

[2017-04-15 11:59] ishitatsuyuki opened #172 "Support rust.executeCargoCommandInTerminal in RLS mode"
The current behavior is quite annoying; it hijacks my only terminal, and pollutes my terminal history.

I would like to request the separated and suppressible output style like before. This seems to be perfect with legacy mode.

[2017-04-15 12:00] ishitatsuyuki opened #173 "Suppress history insertion when running in terminal"
Polluting the terminal history with "cd" and "export" isn't a good idea.

I would love to see an option that adds a space before the command, which suppress the history storage for configured shells.

[2017-04-15 12:27] jaysonsantos commented on #168
@KalitaAlexey it won't work with rls_vscode too. But do you use it's implementation or you talk to the protocol directly?

[2017-04-15 12:30] jaysonsantos commented on #168
@KalitaAlexey creating the `rls.toml` with `unstable_features = true` made it work

[2017-04-15 14:44] KalitaAlexey commented on #168
I meant that rls_vscode may have some changes which the extension doesn't have.

[2017-04-15 14:45] KalitaAlexey commented on #173
@ishitatsuyuki,
I didn't think about it.
I will open a PR to add spaces when Linux is used.

[2017-04-15 14:46] KalitaAlexey commented on #172
@ishitatsuyuki,
Do you mean think you would like to have an option to execute a command and not to see any output?

[2017-04-15 14:47] #170 closed

[2017-04-15 14:48] ishitatsuyuki commented on #172
Yeah, that's what I want. I just need the output in the case of errors.

[2017-04-15 18:09] KalitaAlexey commented on #172
Okay.

[2017-04-15 18:15] KalitaAlexey commented on #172
I will implement it for the next version. I will make it as a breaking change.

[2017-04-16 07:21] ishitatsuyuki commented on #168
It's now toggled by `unstable_features`. Since #174 already corrected the docs, we can safely close this.

[2017-04-17 04:57] KalitaAlexey commented on #168
@Doaxan @Object905,
Have you still experience this issue?

[2017-04-17 12:16] achernyak commented on #169
I think it would be helpful to move these into a `tasks.json` file that could be initialized for the project. Then they would be easier to customize too.

I am hoping @KalitaAlexey could chime in on this. I would also be happy to work on this if any help is needed.

[2017-04-17 15:44] KalitaAlexey commented on #169
Actually I think these key bindings are obsolete since we have the command palette and an ability to execute a command on save.

[2017-04-17 22:37] Eh2406 commented on #139
I found it quite surprising. Just my 2c.

[2017-04-18 05:36] KalitaAlexey opened #177 "Integrate installing RLS"
Since RLS can be installed via rustup, the extension should suggest a user to install it and if a user agrees, install it.

For several next days I am going to review all issues and after that I am going to publish a new version

[2017-04-18 11:52] skariel commented on #166
can confirm, I experience the same behavior

[2017-04-18 13:14] cento commented on #168
I resolved the same problem with the `unstable_features`, why it is needed?

[2017-04-18 13:33] KalitaAlexey commented on #168
@jonathandturner,
Could you say why it is needed?
Is that needed or do I have a bug?

[2017-04-18 13:35] KalitaAlexey commented on #166
@MaikKlein @skariel
Could you describe the whole sequence of steps to reproduce it?

[2017-04-18 13:38] cento commented on #168
@KalitaAlexey  I think it is related to [this](https://github.com/rust-lang-nursery/rls/issues/247)

[2017-04-18 13:40] KalitaAlexey commented on #168
Thank you.

[2017-04-18 15:36] #169 closed

[2017-04-18 16:08] KalitaAlexey commented on #162
@pronebird,
Have it helped you?

[2017-04-18 16:08] #173 closed

[2017-04-18 16:10] KalitaAlexey commented on #168
As per [the comment](https://github.com/editor-rs/vscode-rust/issues/168#issuecomment-294337924), I am closing the issue since the documentation contains what to do.

[2017-04-18 16:10] #168 closed

[2017-04-18 16:24] KalitaAlexey commented on #163
I am closing this issue.
If anyone experiences it reopen it please.

[2017-04-18 16:24] #163 closed

[2017-04-18 16:25] KalitaAlexey commented on #165
I am closing this issue since I have nothing to do.
Let me know if there is something else.

[2017-04-18 16:25] #165 closed

[2017-04-18 16:33] KalitaAlexey commented on #152
I have checked it.
The issue has been fixed.

[2017-04-18 16:33] #152 closed

[2017-04-18 17:46] skariel commented on #166
@KalitaAlexey sure - using Rocket with the code below, try to rename `index`. Maybe it has to do with the Rocket macros, since renaming other variables works just fine

[code]

[2017-04-18 18:07] KalitaAlexey opened #180 "Does anyone use Rust installed not via rustup?"

[2017-04-18 19:06] KalitaAlexey commented on #166
@skariel,
Please try rls_vscode to see if it is really a problem of the extension.

@nrc,
Does RLS handle this?

[2017-04-18 19:58] troplin opened #182 "Absolute paths missing leading slash"
Version of VSCode: 1.11.2 (1.11.2)
Version of the extension: 0.3.11
OS: OS X El Capitan 10.11.6 (15G1421)

Description:
------------
Paths in the "Problems" panel are now displayed without leading slash. If I click on it, it tries to interpret it as relative path, that obviously doesn't exist. -> Error
In-code error highlighting doesn't work either, probably because of the same reason.

This only

[2017-04-18 19:58] jonathandturner commented on #166
@KalitaAlexey - support for rename is experimental.  The [bottom of the readme](https://github.com/rust-lang-nursery/rls/blob/master/README.md#configuration) explains how to enable experimental features.

[2017-04-18 20:05] jonathandturner commented on #166
@skariel - I just gave your example a try on the latest RLS nightly with the the rls_vscode plugin, and it works okay.

[2017-04-19 01:45] sinhpham opened #183 "Don't call racer if it's not there"
Seems like the plugin continuously call racer even if it's not installed, and by doing so polluting the log. There should be a check at the start and if there's no racer just stop calling it.

[2017-04-19 02:29] tangmi commented on #180
FWIW the [officially sanctioned way of installing Rust](https://www.rust-lang.org/en-US/install.html) is to use `rustup`.

[2017-04-19 04:24] KalitaAlexey commented on #180
@tangmi,
Yes I do know how one can install Rust.
I am asking if anyone really does this.

[2017-04-19 04:25] KalitaAlexey commented on #180
Because if not, I will remove all not Rustup related code because it takes time to update it.

[2017-04-19 04:26] KalitaAlexey commented on #183
@sinhpham,
You should have attached the output channel log. See the template of an issue.
Describe what you do and what you see in detail because right know I don't know what you are talking about.

[2017-04-19 04:27] KalitaAlexey commented on #166
Oh I missed that the example can be tested. I will test it, but I suppose it will work.

[2017-04-19 04:31] KalitaAlexey commented on #182
It is interesting.
Does a new project behave same?

[2017-04-19 04:35] KalitaAlexey commented on #155
@martinlindhe,
I am closing this issue since there was no any response for a long time.
If you are still experiencing this issue, please open this issue again and details which we discussed.

[2017-04-19 04:35] #155 closed

[2017-04-19 06:12] KalitaAlexey opened #184 "Add a new configuration parameter for specifying commands to execute before executing commands"
Currently rustc cannot determine that you are using Build Tools 2017.
I have to compile in Developer Command Prompt.
The new configuration parameter will allow a user to make the extension prepare a terminal before compiling.

[2017-04-19 06:25] sinhpham commented on #183
In the Rust logging window:
[code]

Steps to reproduce: just install the plugin without racer
Fix: don't repeatedly call this.scheduleRestart() here https://github.com/editor-rs/vscode-rust/blob/master/src/components/completion/completion_manager.ts#L214, but check if racer exists first in the start() function

[2017-04-19 07:36] martinlindhe commented on #155
I abandoned use of vscode-rust for the time being because of this issue. Am currently trying out https://github.com/jonathandturner/rls_vscode which is working better, but lacks some other features such as rustfmt. Thanks for your time

[2017-04-19 08:55] KalitaAlexey commented on #183
It worked before. I will fix it.

[2017-04-19 08:57] KalitaAlexey commented on #155
@martinlindhe,
Could you try it again because at some point this extension will be the main one.

[2017-04-19 12:07] steffinger commented on #180
Although I use rustup, I don't think it is a good idea to remove non standard installation code. There are two important use cases that I have in mind:
- People who use their Linux Distribution/ Mac Homebrew for installing Rust. I imagine that many beginners would go this way.
- People who want to work on Rust tools themself. e.g. If you want to write code for RLS you need to compile it yourself.

[2017-04-19 13:23] KalitaAlexey commented on #180
@steffinger,
Good motivation. Thank you.

[2017-04-19 13:35] pronebird commented on #162
@KalitaAlexey Tested it with nightly RLS from `rustup`, new Rust plugin and new VSCode and it seems  to be working now!

[2017-04-19 13:35] #162 closed

[2017-04-19 13:35] KalitaAlexey commented on #162
It's nice.

[2017-04-19 13:38] pronebird commented on #180
I used Rust via Homebrew in the beginning and it worked just fine. It was easier to get started since I didn't need any additional tooling.

[2017-04-19 16:13] rfurlan opened #185 "No Lints in RLS mode"
Version of VSCode: 1.11.2
Version of the extension: 0.3.11
OS: Windows 10

Description:

No Lints in RLS mode, appears to be an issue with the top-level workspace cargo.toml.

Output of the "Rust Language Server" channel:

[code]

[2017-04-19 16:16] KalitaAlexey commented on #185
@jonathanturner @nrc,
I suppose it belongs to your repository, right?

[2017-04-19 16:21] rfurlan commented on #185
Related: https://github.com/rust-lang-nursery/rls/issues/263

[2017-04-19 17:01] skariel commented on #166
@jonathandturner I updated the RLS (through rustup),it still doesn't work. Are you sure it is working for you? I mean, the symbol `index` is renamed, but only at one place (say line 7, but not line 12)

I used the `rl_vscode` plugin and the `rust` extension (together and separately). All other features seem just fine. I waited until analyssis was finished. I have the latest VsCode, Rust, RLS, etc.

[2017-04-19 19:09] troplin commented on #182
Yes, it's the same for a new project.
Here are some screenshots from a fresh crate (using `cargo init`):

![bildschirmfoto 2017-04-19 um 21 03 49](https://cloud.githubusercontent.com/assets/13793075/25197353/1864ac5c-2544-11e7-9344-5db212ac174b.png)

![bildschirmfoto 2017-04-19 um 21 04 16](https://cloud.githubusercontent.com/assets/13793075/25197319/fe81cea0-2543-11e7-83b0-81807868775b.png)

[2017-04-19 21:28] jonathandturner commented on #166
@skariel - Looks like a bug in the RLS... I'm seeing the same issue, now that I realise where the other index is.  Yeah, could be macro related.  Filed https://github.com/rust-lang-nursery/rls/issues/265

[2017-04-19 21:52] KalitaAlexey commented on #182
I will check it soon.
Thank you.

[2017-04-19 21:53] KalitaAlexey commented on #185
Good to know.
Thank you.

[2017-04-19 21:55] rfurlan commented on #185
Actually, I am the one who should be thanking you :)

[2017-04-20 15:36] cksac commented on #155
I have similar issue with RLS mode also..

Version of VSCode: 1.11.2
Version of the extension: 0.3.11
OS: macOS (10.12.4)

rls.toml
[code]

Description:
src/shape.rs exists but get following error when formating src/lib.rs.
while formatting modules(e.g. shape.rs) is fine.
[code]

[2017-04-21 10:02] tschottdorf commented on #166
Silly drive-by question, where do I find this debug output?

[2017-04-21 10:53] KalitaAlexey commented on #166
In the menu "View"->"Output".
On the bottom a panel opens.
The panel has a list picker.

[2017-04-22 03:26] brendanzab commented on #112
Is this in the published plugin? Because I am still seeing it on macOS when holding down the command key.

VS Code: 1.11.2
Plugin: 0.3.11
OS: macOS 10.12.4

[2017-04-22 04:08] reclusegit commented on #182
I am also quite similar, the Path is incorrect

<img width="978" alt="default" src="https://cloud.githubusercontent.com/assets/1256735/25301245/47d95124-2754-11e7-8cbd-6e2a14d76a9b.png">

[2017-04-22 05:53] KalitaAlexey commented on #182
@reclusegit,
What the messages say?
The mentioned files are files from Rust standard library hence it is okay that you can't see them.

[2017-04-22 05:56] KalitaAlexey commented on #112
Yes it is.
Try to set`rust.rls.revealOutputChannelOn`.

[code]

[2017-04-22 07:42] brendanzab commented on #112
Oooh, right. Wondering if that should be the default?

[2017-04-22 07:44] KalitaAlexey commented on #112
No, it shouldn't.
The default is "error".
If popping up bothers up, you should turn it off.
But it should be shown when an error occurs, don't you think so?

[2017-04-22 07:47] brendanzab commented on #112
Maybe this is a problem with the error level of the 'GotoDef' log in the RLS? From a UI point of view I just want the blue underline not to show - like it does in Racer mode.

[2017-04-22 07:53] brendanzab commented on #112
Possibly related? rust-lang-nursery/rls#122

I'm using the `rls` from `rustup` - maybe it is being compiled with `DEV_MODE` on?

[2017-04-22 07:57] #177 closed

[2017-04-22 07:58] KalitaAlexey commented on #185
I am closing this issue since we think it is not the extension's issue.
If you find out that it is, re-open this issue.

[2017-04-22 07:58] #185 closed

[2017-04-22 07:59] KalitaAlexey commented on #180
Thanks for your opinion.

[2017-04-22 07:59] #180 closed

[2017-04-22 08:03] KalitaAlexey opened #186 "Ask for installing rust-analysis"
Currently the extension asks for a user's permission to install RLS.
RLS can use the component rust-analysis.
The extension should asks for a user's permission to install rust-analysis.

[2017-04-22 08:06] KalitaAlexey opened #187 "Clarify to a user that rustup failed to install RLS because the default toolchain is stable if that's the problem"
Currently if you use the stable toolchain, the extension will show an error message saying that rustup can't install RLS.
It can be improved since it is not too hard to check if the failure's reason is the stable toolchain.

[2017-04-22 08:08] KalitaAlexey opened #188 "Don't show a message each time a user tries to format a document and rustfmt is not installed"

[2017-04-22 08:12] KalitaAlexey commented on #112
@brendanzab,
If you have time, I would want you to try [rls_vscode](https://github.com/jonathandturner/rls_vscode) to check if it is my extension's problem.

[2017-04-22 10:24] #183 closed

[2017-04-22 10:47] KalitaAlexey commented on #151
It is fixed.

[2017-04-22 10:47] #151 closed

[2017-04-22 11:27] KalitaAlexey commented on #182
I need Linux to check it.

I will install it and try again.

[2017-04-22 16:06] sethlopezme commented on #155
I, too, am seeing this issue. The modules that I'm getting an error for are present and I can build my code successfully.

VS Code 1.11.2
vscode-rust 0.3.11
macOS 10.12.4

[code]

[code]

[code]

[2017-04-22 16:45] KalitaAlexey commented on #155
@sethlopezme, What OS?

[2017-04-22 16:47] sethlopezme commented on #155
@KalitaAlexey macOS 10.12.4

[2017-04-22 16:54] KalitaAlexey commented on #155
I am downloading Ubuntu ISO.
I will try this on Linux.
If I the problem didn't occur on Linux, I suppose someone who has Linux would have to do it himself.
Anyway @sethlopezme,
Could you try rls_vscode and say if no problem there.

[2017-04-22 18:24] sethlopezme commented on #155
@KalitaAlexey I ran rls_vscode and I didn't see any errors in the debug console. I haven't run rls_vscode before but I assume that's where I would look for errors. Let me know if I need to look elsewhere for them.

[2017-04-22 19:26] KalitaAlexey commented on #182
The problem is not caused on Linux. I suppose.

[2017-04-22 19:35] KalitaAlexey commented on #140
I suppose it is fixed now.

[2017-04-22 19:35] #140 closed

[2017-04-22 21:47] jpernst opened #190 "Finer-grained syntax highlighting"
Version of VSCode: 1.11.2
Version of the extension: 0.3.11
OS: LInux x64

Description:
Currently, the syntax highlighter is rather coarse and makes no distinction between identifiers and other forms of punctuation, lumping them all into the "source.rust" TM scope. This is making it challenging to design a color theme. Being able to color identifiers separately from punctuation would be very helpfu

[2017-04-23 01:46] ishitatsuyuki opened #191 "Improve the code style"
I have no idea why the code is flooded with newlines. It simply fits less in the screen and makes it hard to read.

For example, imports should be organized in one block, or split as internal imports vs external ones. You break each import with two newlines.

Changing this would require a huge commit. I would like to have a place for discussion before the change.

[2017-04-23 05:23] seanjensengrey opened #193 "meta, request: new label "completion""
I'd like to issue some new issues having to do with code completion and having a label for them would be excellent.

[2017-04-23 06:14] seanjensengrey opened #194 "feature request: config switch between legacy and RLS mode"
Version of VSCode: 1.11.2 (1.11.2)
Version of the extension:  0.3.11
OS: OSX 10.10.5

There should be a configuration option to switch between legacy (racer, rustfmt, rustsym) and RLS mode.

If one of the legacy mode utilities is found, legacy mode is activated even if RLS is configured in settings.json via

[code]

At the very least, if RLS is defined in user settings it should override the autom

[2017-04-23 07:06] KalitaAlexey commented on #155
@sethlopezme,
vscode-rust and rls_vscode differently start RLS.
I will implement starting as rls_vscode does.

[2017-04-23 07:07] KalitaAlexey commented on #194
@seanjensengrey,
Actually if RLS is found, it will use RLS.

[2017-04-23 07:08] KalitaAlexey commented on #193
Done.

[2017-04-23 07:08] #193 closed

[2017-04-23 07:11] KalitaAlexey commented on #191
It allows to easily read code without any distraction from other elements.
I find it easily to read.

[2017-04-23 07:12] KalitaAlexey commented on #190
@jpernst,
VSCode uses the following colorizer:
https://github.com/zargony/atom-language-rust

If you opened a PR, I would be glad to accept it.

[2017-04-23 07:13] KalitaAlexey commented on #191
@ishitatsuyuki,
Each function is small enough to fit within a screen.

[2017-04-23 07:15] ishitatsuyuki commented on #191
What about the imports flooding over twice of my editor height?

If you're coding on a big monitor, consider increasing the text size.

[2017-04-23 07:37] sethlopezme commented on #155
I actually had difficulty with rls_vscode. I have RLS installed through rustup, but the only way I could get it to work with rls_vscode was to pull the RLS source down and set the `RLS_ROOT` environment variable.

[2017-04-23 08:11] KalitaAlexey commented on #191
How do you suggest to write imports in order to make it easier to add/remove imports for VCS?

[2017-04-23 08:11] KalitaAlexey commented on #155
Why couldn't you start RLS from rustup?

[2017-04-23 08:13] ishitatsuyuki commented on #191
Do not flood with redundant blank lines. This applies to imports and class fields.

Blank lines between blocks (`for {}`, `if {}`) is acceptable depending on your preferred code style.

[2017-04-23 08:16] KalitaAlexey commented on #191
I will re-work my code and write code guidelines.
This will be after I have done what I am planning for this release.

[2017-04-23 08:21] ishitatsuyuki opened #195 "Executable names in configuration are forced to be absolute path in master"
While the [docs](https://github.com/editor-rs/vscode-rust/blob/master/doc/rls_mode/main.md#with-rustup) suggests only command name.

[2017-04-23 08:22] ishitatsuyuki opened #196 "env is not honored if args is unspecified"
With the following case:
[code]

`RUST_LANG_SRC` will not be set.

Workaround:

[code]

This is due to the semantics of optional parameters, in `child_process.spawn(exe, [args, [options]])`.

[2017-04-23 08:26] KalitaAlexey commented on #195
I checked which on Windows. It works for a only executable name and for an absolute path.
Thanks for suggestion.

[2017-04-23 08:59] #196 closed

[2017-04-23 10:16] #195 closed

[2017-04-23 15:35] sethlopezme commented on #155
Well, for a very good reason. The reason being that I'm an idiot and for some strange reason I didn't realize it worked that way. It all makes sense now, ha.

[2017-04-23 18:06] KalitaAlexey commented on #155
@sethlopezme,
Will you test a code from a branch which I will tell you?

[2017-04-23 18:09] KalitaAlexey commented on #155
The branch is spawn-rls-how-rls-vscode-does
I want you to try it out.
If your problem fixed, I would commit it.
I really hope it will be fixed.

[2017-04-23 18:17] KalitaAlexey commented on #182
You can either try rls_vscode and write if the problem happens or try the branch "spawn-rls-how-rls-vscode-does`.
I can't help you since the problem does not happen on Windows or Linux.

[2017-04-23 18:19] KalitaAlexey commented on #186
The extension will not ask for a user's permission.
It will install the component if a user agrees to install RLS.

[2017-04-23 22:49] joshsleeper commented on #138
@KalitaAlexey
I'm in agreement with @mtsr and @redactedscribe here.

To me, `actionOnSave` in any context is a way to say "When you attempt to save a file, these are the action(s) that will performed prior to saving that file."
To put it another way, regardless of whether we agree or not, I can't think of any reason why only triggering on dirty files is _better_ than always triggering.

Commonly u

[2017-04-24 04:31] KalitaAlexey commented on #138
@joshsleeper,
I got the point.
I have no time for this.
I am going to do this before publishing a new version.
I suppose in two days.

[2017-04-24 21:37] sethlopezme commented on #155
Is there anything specific that I need to do? I pulled the repo down, checked out the `spawn-rls-how-rls-vscode-does` branch and ran it with Debug, but it didn't look like anything was happening. I tried this both with and without RLS running beforehand.

[2017-04-25 04:47] KalitaAlexey commented on #155
@sethlopezme,
You should run either extension and try to cause your problem.

[2017-04-25 05:18] sethlopezme commented on #155
I guess what I'm asking is if there is anything specific that I need to do to get RLS working on the `spawn-rls-how-rls-vscode-does` branch. When I tried to use the plugin from that branch, RLS did not appear to start, so I then tried running the plugin with RLS running from the command line, but the plugin still didn't do anything for me - no RLS analysis status in the status bar, no code complet

[2017-04-25 06:07] KalitaAlexey commented on #155
It strange.
It should work.
Could you provide the Output Channel log?

[2017-04-25 13:08] drusellers opened #203 "Highlighting inside of Doc Comments"
It would be amazing if we could leverage the the feature called code fences I think. I recall hearing that VS Code could apply different languages to the same file. So that our comments could be markdown highlighted and our doc tests highlighted as rust as well.

[2017-04-25 15:25] sethlopezme commented on #155
Ah, here we go. My apologies - the first time I tried running the extension, I had forgotten to run `npm install` beforehand. With that being said, I do get an error when trying to run the extension with Debug.

In the Debug Console tab of the main VS Code window, I saw this:

[code]

In the Output tab of the main VS Code window, I saw this:

[code]

[2017-04-25 16:18] KalitaAlexey commented on #155
@sethlopezme,
Pull this branch and try again.
I have no idea how it worked for me)

[2017-04-25 16:19] KalitaAlexey commented on #203
@drusellers,
Could you provide some links to read about it?
It is first time I hear something like that.

[2017-04-25 16:21] sethlopezme commented on #155
@KalitaAlexey Ah, that allowed the plugin to function for me. I still experienced an issue, though. It found my rustup install, but it says that I don't have RLS installed (I do, through rustup).

[2017-04-25 17:07] KalitaAlexey commented on #155
@sethlopezme,
It showed that it couldn't see RLS
You configured it using `rust.rls`.
You tried to cause the problem.
The problem happened.
Is that right?
Please try rls_vscode.

[2017-04-25 17:07] KalitaAlexey commented on #155
I have no idea then.

[2017-04-25 17:55] sethlopezme commented on #155
I have rustup installed, and I have RLS installed as a rustup component (I followed the [RLS instructions](https://github.com/rust-lang-nursery/rls#setup)).

Here is my configuration for the extension:

[code]

When running the latest release of vscode-rust, RLS starts and works just fine, minus the problem where the extension cannot find modules as detailed in comments above.

When running the `s

[2017-04-25 18:06] sethlopezme commented on #155
I think this is an RLS issue. I was just able to reproduce it in rls_vscode.

[2017-04-25 18:36] troplin commented on #182
Fixed with the latest version of RLS.
I guess it the fix is rust-lang-nursery/rls#264.

[2017-04-25 18:36] #182 closed

[2017-04-25 19:13] KalitaAlexey commented on #182
Good to know.
Thank you for your patience.

[2017-04-25 19:13] KalitaAlexey commented on #155
You should open an issue in RLS's repository.

[2017-04-26 06:00] buster commented on #194
How do i know if RLS mode is used? It says "Racer: on" in the bottom, but rls is definitely installed.

[2017-04-26 06:25] KalitaAlexey commented on #194
@buster,
What version do you use: from the marketplace or from the source?
If you use the version from the marketplace, you should set `rust.rls.executable` in order to make it work.
If you use the version from the source, you shouldn't set anything, it must work.

[2017-04-27 17:08] #186 closed

[2017-04-27 18:11] #188 closed

[2017-04-28 18:02] sticnarf opened #209 "`rustup run nightly rls` does not work on 0.3.12"
Version of VSCode: 1.11.2
Version of the extension: 0.3.12
OS: Ubuntu 16.04 LTS

Description:

This is my settings for rust rls:
[code]
It worked well on the previous version, but fails on the latest version. I am told that RLS is not installed.

In my opinion, before [rust-lang-nursery/rustup.rs#1083](https://github.com/rust-lang-nursery/rustup.rs/issues/1083) is resolved, the behavior should rem

[2017-04-28 18:05] KalitaAlexey commented on #209
Hello @sticnarf,
Let me check this.

[2017-04-28 18:11] KalitaAlexey commented on #209
Oh. I see. I published a version with an error.

[2017-04-28 18:18] KalitaAlexey commented on #209
I found two bugs)
Thank you.

[2017-04-28 18:20] KalitaAlexey commented on #209
I will publish new version in 5 minutes.

[2017-04-28 18:26] DanielJoyce commented on #209
Yeah, just killed my install too. Thanks.

[2017-04-28 18:30] KalitaAlexey commented on #209
0.3.13 has been published

[2017-04-28 18:30] #209 closed

[2017-04-28 20:37] TedDriggs commented on #194
Is there a way to disable RLS mode on 0.3.13? I'm working on projects that use workspaces, and those aren't working well with RLS right now (see rust-lang-nursery/rls#263)

[2017-04-28 20:40] KalitaAlexey commented on #194
Remove RLS component from rustup. There is no other way.

[2017-04-28 20:55] KalitaAlexey commented on #194
@TedDriggs,
I will add `"rust.forceLegacyMode: boolean"` to allow this.

[2017-04-28 22:26] sfackler opened #213 "Cargo: Build command does nothing"
Version of VSCode: 1.11.2
Version of the extension: 0.3.13
OS: macOS

Description:

After upgrading to 0.3.13, running the "Cargo: Build" or "Cargo: Test" commands from the Cmd+Shift+P menu does nothing.

Output of the "Rust logging" channel:
[code]

[2017-04-29 01:48] Matthew-Maclean commented on #213
I think pull request #212 fixes this.

[2017-04-29 02:41] tiehuis opened #214 "Handle RUSTUP_HOME environment variable"
Version of VSCode: 1.11.2
Version of the extension: 0.3.13
OS: Linux

Description: The extension will incorrectly report that rust isn't managed by rustup in the case that `$RUSTUP_HOME` is modified.

For example, my sysroot is the following.

[code]

It appears that the check that for the sysroot is pretty strict in what the directory name expects to be right [here](https://github.com/editor-rs/v

[2017-04-29 05:14] vvanders commented on #213
I'm seeing something similar after the new update, declining RLS leads to "no build command defined" for .rs files.

[2017-04-29 06:03] KalitaAlexey commented on #213
Done.

[2017-04-29 06:03] #213 closed

[2017-04-29 06:26] #214 closed

[2017-04-29 09:03] #194 closed

[2017-04-29 14:27] vvanders commented on #213
I'm still seeing this even with 3.14 and:
[code]

Ctrl+Shift+B in any .rs file shows prompt "No build task defined".

[2017-04-29 14:32] BusyJay opened #218 "racer crash when there is an empty space in path on windows"
Version of VSCode: 1.11.2
Version of the extension: 0.3.14
OS: Windows 10

Description:

When there is a space in path, racer crashes.

Output of the "Rust logging" channel:
[code]

Related issue: nodejs/node#7367
There is no workaround currently, because path always gets stripped by `FileSystem.findExecutablePath`.

[2017-04-29 14:51] Matthew-Maclean commented on #213
@vvanders add this to your `keybindings.json` as a workaround:

[code]

[2017-04-29 15:17] KalitaAlexey commented on #218
@BusyJay,
If you use Windows 10, you can make a symbolic link: https://www.howtogeek.com/howto/16226/complete-guide-to-symbolic-links-symlinks-on-windows-or-linux/

[2017-04-29 15:18] KalitaAlexey commented on #213
@vvanders,
It is described in CHANGELOG.md
I removed keybindings as Visual Studio Code uses them too.

[2017-04-29 15:53] vvanders commented on #213
Ah I see.

That seems like a pretty severe breaking change. I can't define a cargo build task that links in errors and overriding the keybindings seems like something that a new user won't attempt and bounce off the plugin.

Right now RLS is still nightly so if you're using stable the new plugin doesn't give much over syntax highlighting in that configuration.

[2017-04-29 15:55] vvanders commented on #213
Also keybindings.json doesn't work, the task caller overrides it and doesn't pick up the bindings.

[2017-04-29 16:20] KalitaAlexey commented on #213
You still can execute commands with command palette showed by CTRL+P

[2017-04-29 16:22] KalitaAlexey commented on #213
I use the last version of VSCode.
File->Preferences->Keyboard Shortcuts.
In the field enter "Cargo".
Hover "Cargo: Build".
Press the plus button to the left.
Choose some keybinding.
Test it.
It works for me.

[2017-04-29 16:23] BusyJay commented on #218
Sorry not making my point clear. What I mean is that we can't quote the path in configuration to make it recognized when spawning the racer process. I did get it working by specified a new path without any space in it.

[2017-04-29 16:29] KalitaAlexey commented on #218
I got your point.
I showed you a workaround.

[2017-04-29 16:50] gabomgp opened #219 "You do not use Rustup. Rustup is a preffered way to install Rust and its components"
Version of VSCode: 1.11.2
Version of the extension: 0.3.14
OS: Windows 10

Description: Rust 1.17 is installed in my machine from rustup. I can call rustup from the command line, including in visual studio code terminal. But, the plugin says rustup is not in use with the message: You do not use Rustup. Rustup is a preffered way to install Rust and its components

Output of the "Rust logging" chann

[2017-04-29 17:01] KalitaAlexey commented on #219
Execute `rustc --print=sysroot` and write here results.

[2017-04-29 17:04] sfackler commented on #213
Working for me now on 0.3.14, thanks for the fix!

[2017-04-29 17:06] KalitaAlexey commented on #213
@sfackler,
I actually doesn't know why it broke in the first place.

[2017-04-29 17:12] gabomgp commented on #219
Result of command rustc --print=sysroot:

C:\Program Files\Rust stable MSVC 1.13

[2017-04-29 17:14] KalitaAlexey commented on #219
`where rustup`, `where rustc`.

[2017-04-29 17:21] gabomgp commented on #219
where rustup:

where rustc:

[2017-04-29 17:24] KalitaAlexey commented on #219
Okay.
You should either uninstall `C:\Program Files\Rust stable MSVC 1.13\bin\rustc.exe` or make the second one go first.

[2017-04-29 17:28] gabomgp commented on #219
maybe is it a bug in the rust intaller or rustup?

[2017-04-29 17:29] gabomgp commented on #219
Ah y and thanks you very much for the help.

[2017-04-29 17:30] KalitaAlexey commented on #219
@gabomgp,
No, you a long time ago installed Rust 1.13 using installer from rust-lang.org
That's it.

[2017-04-29 17:31] KalitaAlexey commented on #219
Close the issue if the problem is fixed.

[2017-04-29 17:40] lnicola commented on #213
Does anyone have a problem matcher definition?

[2017-04-29 17:41] KalitaAlexey commented on #213
@lnicola,
Why do you need it?
Why can't you use Cargo check?

[2017-04-29 17:48] #219 closed

[2017-04-29 17:53] lnicola commented on #213
A problem checker would make the VSCode integration nicer, as the build errors would show up in the "Problems" pane.

I'm pretty sure the `Cargo Build` command used to do that in the previous version (now it just opens a the terminal). It feels like a step back in usability, just like @vvanders said.

[2017-04-29 18:04] KalitaAlexey commented on #213
If RLS is enabled, then yes. Cargo command is executed in a terminal.
This is because RLS provides diagnostics.

[2017-04-29 18:21] lnicola commented on #213
Ah, I see. Changing the file didn't trigger the analysis for me (or it was stuck), which caused the confusion. It worked after I clicked the status bar button.

[2017-04-29 18:27] KalitaAlexey commented on #213
For those who don't understand why the extension does not parse the output of Cargo command.
Disadvantages:

* Duplicate diagnostics: from RLS and from the last command
* Obsolete diagnostics: RLS hides diagnostics after fixing them, but they would still be presented as a result from the last command.

[2017-04-29 19:46] vvanders commented on #213
The issue with RLS is it's just not stable enough for me to use. Anything of moderate complexity or including unit tests causes it to give bad results.

Don't get me wrong I'm really looking forward to it but it's just not at point where I can use it for production work.

I've reverted back to 0.3.11 and I'll be staying there until things stabilize a bit.

[2017-04-29 20:45] KalitaAlexey commented on #213
@vvanders,
You can use "forceLegacyMode".

[2017-04-29 20:45] KalitaAlexey commented on #213
And now I realized that I didn't add information about it to the documentation.

[2017-04-29 20:45] KalitaAlexey opened #220 "Do document forceLegacyMode"

[2017-04-29 20:51] suhr opened #221 "An option to disable dead_code lints"
They are very distracting. Yes, I know about `#![allow(dead_code)]`, but don't want to disable warnings, I just want to get rid of that green lint highlighting.

[2017-04-30 18:37] Diggsey opened #222 "No autocomplete outside of primary lib/bin target"
For example, [rustup](https://github.com/rust-lang-nursery/rustup.rs) has a fairly complex structure:
- Root library (`/rustup`)
- Root binary (`/rustup-cli`)
- Dependency libraries (`/rustup-dist`, `/rustup-mock`, `/rustup-utils`, `/download`, `/ca-loader`)
- Dependent binary (`/rustup-win-installer`)

Of these, only the root library has autocomplete enabled (files in `/rustup`). I would at least

[2017-04-30 20:26] KalitaAlexey commented on #222
It's RLS issue.
@jonathanturner, right?

[2017-05-01 16:29] DanielJoyce opened #223 "Option to use RLS for completion, but fall back to rustfmt for fomatting?"
Description:
RustFmt bundled with RLS seems to ignore rustfmt.toml file. It would be nice to use RLS for completion, but have the ability to fall back to rustfmt for formatting.

I tried removing unstable-features from the rls.toml, but it seems the plugin does not fall back to rustfmt for formatting.

[2017-05-01 16:29] DanielJoyce commented on #223
Mostly due to the bug where rls blows up because it can't resolve module imports properly so formatting always fails.

[2017-05-01 18:11] KalitaAlexey commented on #223
@DanielJoyce,
There is no way to do it.
If a language server is used, then no capabilities can be provided from other place.

[2017-05-02 04:27] Frederick888 commented on #223
I am the one who's fairly unlucky and every time I'd like to try RLS out there will be some severe bugs which just fail some major functionalities of the sever.

So it would be nice to have a fallback. And I can't see why not. Is it possible to run the `rustfmt` command directly over currently opened file?

[2017-05-02 05:51] KalitaAlexey commented on #223
Yes it is.
I can provide the command to do that.
I thought @DanielJoyce had told about pressing "Format Document" to be handled via rustfmt.
I suppose it is not possible, but I don't know.
If one can investigate it, I would be happy because right now I have no free time.

[2017-05-02 17:13] radix opened #224 "args to custom run command not working correctly on windows (spaces?)"
Version of VSCode: 1.11.2
Version of the extension: 0.3.14
OS: Windows 10

Description:

I have a custom run configuration like this:

[code]

Since the latest update, I can't use it any more. It seems that the command is now being run in PowerShell, and my guess is that it's not escaping spaces correctly (e.g. in the "Google Drive" path).

[code]

Output of the "Rust logging" channel:
[code]

[2017-05-02 17:31] KalitaAlexey commented on #224
It may be related to #218
I actually don't know.
@BusyJay, can you answer if the problems are similar?

[2017-05-02 19:37] radix commented on #224
as a workaround I was able to get it working by changing my configuration to include quotes around the path:

[code]

so maybe vscode-rust should quote all arguments automatically? I don't know if this would cause problems elsewhere though.

[2017-05-02 19:46] KalitaAlexey commented on #224
@radix,
@BusyJay pointed to NodeJS issue.
It's not my issue and I am not going to write any workaround.

[2017-05-02 19:50] radix commented on #224
I don't really know the details that well, but it doesn't look like exactly the same issue? it seems the nodeJS bug is about when the command has a space, but I don't think the command here has a space.

[2017-05-02 20:06] KalitaAlexey commented on #224
I suppose NodeJS behave the same disregarding whether it is an executable path or an argument

[2017-05-03 22:26] mixedCase opened #225 "RLS installation assumes rustup can self-update"
Version of VSCode: 1.12.2
Version of the extension: 0.3.14
OS: Arch Linux

Description:

I use rustup from my distro's software repository and handle updates from there. vscode-rust assumes it can self-update rustup but this is not the case for the version I use, and going by the "Rust logging" output, this usecase seems to be explicitly handled by rustup.

vscode-rust should probably recognize th

[2017-05-04 04:40] KalitaAlexey commented on #225
@mixedCase,
I didn't know that.
As a workaround you can install rls and rust-analysis by yourself.

[2017-05-05 00:05] mixedCase commented on #225
@KalitaAlexey I did so with the exact commands from the rls readme, but am still told by VSCode it isn't installed.

[2017-05-05 04:32] KalitaAlexey commented on #225
@mixedCase,
Which commands did you use?
What `rustup component list` gives?

[2017-05-05 04:35] mixedCase commented on #225
Ran:
[code]

Component list:
[code]

[2017-05-05 06:53] KalitaAlexey commented on #225
@mixedCase,
What `rustup show` shows?
I suppose you use the stable toolchain and that's the problem.

[2017-05-05 06:53] KalitaAlexey commented on #225
I didn't know about `--toolchain nightly`. It seems promising.

[2017-05-05 13:58] KalitaAlexey commented on #224
I do actually think it is easy to avoid, so I am going to open a PR to fix this.

[2017-05-05 14:34] mixedCase commented on #225
I checked with `rustup show` and apparently my nightly didn't get updated from the last time I toyed with it, looks like I hit this: https://github.com/rust-lang-nursery/rustup.rs/issues/1092

When that gets fixed I'll continue diagnosing the issue.

[2017-05-05 14:45] KalitaAlexey commented on #224
I was wrong. It is not easy)

[2017-05-05 16:45] mixedCase commented on #225
I just worked around the issue by pinning to an older nightly and I can confirm one thing: vscode-rust does not recognize RLS if the default toolchain is stable, even if RLS was successfully installed with the nightly toolchain.

I tried switching back and forth from stable to nightly as the default and analysis works only on nightly, even if that's the old nightly I keep around rather than the ni

[2017-05-05 17:27] KalitaAlexey commented on #225
Yes, I know that.

[2017-05-05 17:30] mixedCase commented on #225
Should I open another bug for that? RLS by itself supports stable, even if it requires nightly to compile.

[2017-05-05 17:34] KalitaAlexey commented on #225
Rustup does support RLS only for the nightly toolchain.
You shouldn't open a bug. It's already opened.

[2017-05-06 16:50] CryZe opened #226 "Allow disabling RLS message on start up"
Provide an option for disabling the RLS recommendation message that you get on start up. So far RLS doesn't match the non-RLS experience yet, so I do not plan on using RLS until it's on par with Racer + Rustfmt. But now I'm getting this message about RLS all the time. The message should have a button for disabling it.

[2017-05-06 16:52] CryZe commented on #226
Oh, looks like there is an option for it in the JSON config called `rust.forceLegacyMode`. Maybe the message itself should have a "Don't ask me again" button though.

[2017-05-06 19:03] pftbest opened #227 "On RLS error the bottom panel tab is switching to OUTPUT"
Version of VSCode: 1.12.1 (1.12.1)
Version of the extension: 0.3.14
OS: macOS

Description:
I always have bottom panel opened with the TERMINAL tab active. But when some error occurs in RLS it switches the tab to OUTPUT. So I have to manually switch it back to the TERMINAL every time this happens.

Error messages are not important in this case, but they look like this:
[code]

[2017-05-08 07:37] KalitaAlexey commented on #227
@pftbest,
Read about [revealOutputChannelOn](https://github.com/editor-rs/vscode-rust/blob/master/doc/rls_mode/main.md#the-revealoutputchannelon-configuration-parameter). You are interested in `"never"` value.

[2017-05-08 15:12] saneyuki opened #228 "Support LSP 3.0"
[rls](https://github.com/rust-lang-nursery/rls) would use [LSP v3.0](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md) if rls merge https://github.com/rust-lang-nursery/rls/pull/300. So vscode-rust also need to upgrade for supporting LSP to v3.0.

[2017-05-08 15:14] saneyuki commented on #228
Oops, I missed that this project has been used [the LSP client supporting LSP v3.0](https://github.com/editor-rs/vscode-rust/blob/5dc7ee5/package.json#L534). I'm sorry  jumping to a conclusion

[2017-05-08 15:14] #228 closed

[2017-05-09 21:49] mrZalli commented on #88
I got this same problem right now.

Should this issue be closed only when this plugin works nicely with vcs-rustfmt, you would think people would like to use these plugins together.

[2017-05-10 02:03] jrmuizel opened #229 "RLS crashes"
Version of VSCode: Version 1.12.1 (1.12.1)
Version of the extension: 0.3.14
OS: OS X

Description: RLS crashes. The status bar shows "RLS: Crashed"

Output of the "Rust logging" channel:
[code]

RLS channel
[code]

[2017-05-10 02:12] vadixidav opened #230 "Automatic comment continuation"
Version of VSCode: 1.11
Version of the extension: 0.3.14
OS: Arch Linux (last updated 2017-05-03)

## Description

When one hits enter while writing a comment of any sort (e.g., //, ///, //!, /*, ...) there is no continuation. One must type it again. The next comment line should be automatically created.

[2017-05-10 02:14] twh2898 commented on #230
Bump!

[2017-05-10 04:40] robinst opened #231 "Can't find rustup"
Version of VSCode: 1.12.1
Version of the extension: 0.3.14
OS: Mac OS

Description: I get the "You do not use Rustup. Rustup is a preffered way to install Rust and its components" message. But I have rustup installed. Not sure where to configure it to fix it. Output:

[code]

Thanks for your help!

Output of the "Rust logging" channel:
[code]

[2017-05-10 06:47] KalitaAlexey commented on #231
@robinst,
Rustup stopped using **.multirust** a long time ago.
I haven't thought someone still uses this.
Currently you can configure it yourself:
Start code with `RUSTUP_HOME=/Users/rstocker/.multirust`.
It should help.

[2017-05-10 07:45] KalitaAlexey commented on #230
It is duplicate of #147.
But thanks for raising my attention.

[2017-05-10 07:45] #230 closed

[2017-05-10 07:46] KalitaAlexey commented on #229
@jrmuizel,
In the "settings.json" (File->Preferences->Settings), add:

[code]

[2017-05-10 07:50] robinst commented on #231
Weird, I have the newest version of rustup. I guess it has some special handling to keep installing into the same directory.

I'll try wiping it and reinstalling rustup and see which directory it ends up in. Thanks!

[2017-05-10 09:46] TheRealHnefi commented on #218
This issue happens with a fresh install of vscode-rust while letting it install all related tools through VSCode, if the user path on Windows has a space in it.

I've tried to manually set rust.rustLangSrcPath and rust.racerPath to symlinks without spaces, but it seems they have no effect. What configuration am I supposed to change so that I can change what paths are used when invoking racer?

[2017-05-10 10:03] KalitaAlexey commented on #218
@TheRealHnefi,
You changed the correct parameters.
It should work.

[2017-05-10 12:01] kosta commented on #231
As far as I know, `.multirust` still exists for legacy reasons and is part of `rustup`. It should just be a symlink to `.rustup`, anyway. You can verify with `ls -lha ~/`.

[2017-05-10 12:32] JonasFromell commented on #231
Having the same problem with a freshly installed Rust

[code]

[2017-05-10 13:31] dvdplm commented on #229
@KalitaAlexey Seeing the same thing. Here's the debug output:

[code]

[2017-05-10 14:31] jrmuizel commented on #229
That matches what I see.

[2017-05-10 14:56] KalitaAlexey commented on #229
Did it work before? A week ago?

[2017-05-10 14:57] KalitaAlexey commented on #231
@JonasFromell,
Now it doesn't work because the stable toolchain is used.

[2017-05-10 15:10] jrmuizel commented on #229
I have had rls working previously, but that was a more manual setup using these steps from rls_vscode:

"Next, without installing the client as a regular VSCode extension, open the client folder in VSCode. Go to the debugger and run "Launch Extension". This opens a new instance of VSCode with the plugin installed."

[2017-05-10 15:19] KalitaAlexey commented on #229
@jrmuizel,
Could you try it again?
Try also rls_vscode.
If that works, then something is broken in the extension otherwise it can be RLS issue.

[2017-05-10 15:43] jrmuizel commented on #229
That no longer works. I'll try investigate the RLS issue.

[2017-05-10 16:04] #218 closed

[2017-05-10 16:48] #224 closed

[2017-05-10 17:25] jrmuizel commented on #229
I've filed https://github.com/rust-lang-nursery/rls/issues/306

[2017-05-11 01:48] robinst commented on #231
Freshly installed rustup now, still doesn't find it:

[code]

[2017-05-11 05:26] robinst commented on #231
Tried switching to nightly, still get "You do not use Rustup. Rustup is a preffered way to install Rust and its components".

[2017-05-11 07:46] KalitaAlexey commented on #231
Post what the "Rust Logging" output channel says if you start the extension and the nightly is used.

[2017-05-11 08:07] JonasFromell commented on #231
Switched to nightly, still got the message. But after a few restarts of VSCode the message disappears. Same thing again when i did an `rustup update` today. Messaged appeared on first startup of VSCode but disappeared when i restarted it.

[2017-05-11 16:03] #220 closed

[2017-05-11 16:07] KalitaAlexey commented on #226
I documented the parameter.

[2017-05-11 16:08] KalitaAlexey commented on #226
I will add "Don't ask me again".

[2017-05-11 17:35] #226 closed

[2017-05-11 20:38] suhr opened #237 "Complete patterns in `match`"
Let we have

[code]

and `foo: Foo`. Then

[code]

should be completed to

[code]

[2017-05-12 03:54] robinst commented on #231
So I think I know what the problem was for me: `~/.cargo/bin` needs to be added to the `PATH` in `~/.profile`. I just had it set in my zsh config files, but that doesn't get picked up by the session.

Maybe vscode-rust could check `~/.cargo/bin` directly if it doesn't find rustup in the `PATH`?

[2017-05-12 15:38] durch commented on #229
Version of VSCode: `1.12.1`
Version of the extension: `0.3.14`
OS: `macOS 10.12.4`

Not sure if the same underlaying issues, RLS crashes almost immediately.

#### RLS console output
[code]

#### Rust logging output
[code]

#### My rust settings
[code]

I am having no trouble running `rls_vcode`.

[2017-05-12 17:08] KalitaAlexey commented on #231
@robinst,
No, it will not.
I am sorry, but this is an specific case which I don't want to handle via the extension.

[2017-05-12 17:12] KalitaAlexey commented on #229
Does it crash when you don't set "rust.rls.env"?

[2017-05-12 17:50] Enet4 commented on #229
There's a cross-issue in RLS already: rust-lang-nursery/rls#312

It might have to do with a new field in the `ClientCapabilities` struct.

[2017-05-12 17:51] durch commented on #229
@KalitaAlexey yes, crashes no matter the combo of the config

[2017-05-12 18:11] Enet4 commented on #229
A further look into the RLS type definitions brought me to [these changes in `ClientCapabilties`](https://github.com/gluon-lang/languageserver-types/commit/570a7fb699ac51e547fc921eeea3317f2bba4816#diff-b4aea3e418ccdb71239b96952d9cddb6R753), which is no longer a generic JSON value, but instead an object with the fields `"workspace"`, `"textDocument"` and `"experimental"`. Making sure that we have t

[2017-05-12 21:36] Enet4 commented on #229
Just a tiny update, rust-lang-nursery/rls#313 should fix this issue without requiring changes to this extension. :)

[2017-05-13 06:50] dvdplm commented on #229
@Enet4 do you know if `rustup update` should work to pull in latest changes? I ran it but still seeing crashes. Here's the backtrace I see with `RUST_BACKTRACE=1` in the env:

Does anyone know what the `"missing field `experimental`"` means?

[code]

[2017-05-13 09:52] Enet4 commented on #229
@dvdplm It was a consequence of the field "experimental" in one of the RLS type definitions being declared as mandatory, while it should have been optional in accordance to the language server protocol. The fix has already landed in the master branch, but apparently still not in Nightly. We'll probably have to wait and see.

[2017-05-13 18:32] Geobert opened #238 "RLS does not install"
Version of VSCode: 1.12.1
Version of the extension: 0.3.14
OS: Win10

Description:
On each launch, I have the infobar poping asking to install RLS, I accept, then it says it need to update rustup, I accept, nothing happens then.

Output of the "Rust logging" channel:rust
[code]

[2017-05-13 18:59] Geobert commented on #238
Even after manually installing RLS it still says it can't find it (PATH have .cargo/bin inside and RUST_SRC_PATH has been defined)

[2017-05-13 20:25] Geobert commented on #238
I'm new to Rust, so I just discovered how to switch to nightly toolchain by default. RLS is found now, even if it crashes :-/

[2017-05-14 07:12] KalitaAlexey commented on #238
@Geobert,
About crash - #229

[2017-05-14 08:48] Geobert commented on #238
Thanks!

As for this issue, I think that "update rustup" should switch to nightly automatically (with a warning before proceeding)

[2017-05-14 13:32] durch commented on #229
Still crashing with the latest nightly, hopefully they make us happy soon...

[2017-05-14 13:54] Enet4 commented on #229
The PR was only merged this morning, so it sounds unlikely that the fix hit nightly already.

Those of you who want RLS to work right away can do so by building rls from the sources and directing vscode to the built executable in the extension's settings. You might also need to add the path to the Rust nightly dynamic libraries into your system's library path environment variable (LD_LIBRARY_PATH

[2017-05-14 15:50] KalitaAlexey commented on #238
@Geobert,
Actually it is possible to install RLS using the nightly toolchain.
It just needs to be handled.

[2017-05-14 15:50] KalitaAlexey commented on #238
I have no time for this again.

[2017-05-14 17:30] DanielJoyce commented on #238
Right now RLS is so unstable as to be unusable. Currently crashing all the time.

[code]

This needs to go in your  vs code settings file.

rustup use stable, but the above settings tell it to use rls under nightly

[2017-05-14 18:02] Enet4 commented on #238
@DanielJoyce It's true that the RLS is not in a stable phase of development. This is precisely what they warn in the [front page](https://github.com/rust-lang-nursery/rls#rust-language-server-rls). Although it usually works and I've been using it myself most of the time, sometimes bugs hit nightly and it might take a few days for the fix to land in the a new release.

Right now, the fix has been m

[2017-05-14 18:07] DanielJoyce commented on #238
I expect logic bugs and maybe no editor assistance. The fact the process
itself crashes says they're not armoring their service enough.

I guess they're using too many plain unwraps() 😜

On Sun, May 14, 2017, 11:02 Eduardo Pinho <notifications@github.com> wrote:

--
Daniel Joyce

The meek shall inherit the Earth, for the brave will be among the stars.

[2017-05-14 21:34] Enet4 commented on #238
On this end, it was probably a bad idea to recommend the use of RLS in the [documentation](https://github.com/editor-rs/vscode-rust/blob/master/doc/main.md#main-page), given that it's still in alpha, and prone to instability. Besides, the legacy mode runs fine without losing that many benefits.

[2017-05-15 12:01] John0x commented on #158
@icorderi yeah, that is the same issue I have.
Would be awesome if it could be fixed :)
I'd do it myself, though I sadly don't have the time right now :/

[2017-05-15 17:55] Enet4 commented on #229
Just in case someone's still wondering, the fix to this crash is already available in rustc 1.19.0-nightly (386b0b9d3 2017-05-14). It should be safe to close this issue.

[2017-05-15 18:08] Banashek commented on #229
So I was having the same "missing field experimental error". Updated to the latest nightly via rustup. Opened vscode and now have it maxing out all cores making it pretty much unusable:

![image](https://cloud.githubusercontent.com/assets/7094571/26071956/c0048760-395e-11e7-9499-8e77accdf5e8.png)

[2017-05-15 18:17] Enet4 commented on #229
It might be that you have opened a fairly large project (or at least with large dependencies). RLS isn't very efficient yet, and will eagerly perform a static analysis of the project and its dependencies right when a Rust source code file is opened.

[2017-05-15 18:20] Banashek commented on #229
The project is 2 files with the following dependencies:
[code]

[2017-05-15 18:32] Enet4 commented on #229
@Banashek I can reproduce that in my core i5 machine, it took around 2 minutes to complete. It might be diesel and its carpload of dependencies that take long to analyse. AFAIK, other than using the extension in legacy mode, there is no other way around that at the moment.

[2017-05-15 18:34] Banashek commented on #229
Thanks. That's good to know.

[2017-05-15 21:51] klausi opened #239 "RLS mode auto format fails with Code: -32601"
Version of VSCode: 1.12.1
Version of the extension: 0.3.14
OS: Ubuntu 16.04

Description: "Format Document" does not work in RLS mode.

Output of the "Rust logging" channel:
[code]

Maybe this is not supported yet in RLS mode? I also have ```"editor.formatOnSave": true``` in my settings and a rls.toml file with ```unstable_features = true``` but the Rust code is not automatically formatted on save

[2017-05-15 22:37] wagenet commented on #231
@KalitaAlexey It does seem like there should at least be some documentation on how to solve this issue. Telling people they don't have Rustup installed when they know they do is problematic. Maybe a better message would also be to say "can't find rustup".

[2017-05-16 01:48] Banashek commented on #229
@Enet4
Followup question: what do you do in cases where there is a large crate in your project? Do you change vscode to legacy mode, use another editor, etc?

Both the neovim languageservice and vscode seem to be wrecking my cpu with just these few declared dependencies (I'm sure they each have a ton of their own).

[2017-05-16 04:29] KalitaAlexey commented on #229
@Banashek,
Could you compile it on stable/beta/on previous nightly?
It may be speed regression. If it is, then you should open an issue in https://github.com/rust-lang/rust

[2017-05-16 04:29] KalitaAlexey commented on #231
@wagenet,
I am working on it.

[2017-05-16 04:33] KalitaAlexey commented on #239
Set `"rust.rls"` to `{ "env": { "RUST_LOG": "rls=debug"  }`.
After that post the output of the Rust Language Server output channel.

[2017-05-16 10:55] Enet4 commented on #239
Right now formatting support in RLS is behind the "unstable features" flags. Have you enabled this flag?
 See [here](https://github.com/rust-lang-nursery/rls#configuration) how to configure RLS in your project.

Also, relevant cross-issues: rust-lang-nursery/rls#242 rust-lang-nursery/rls#3

[2017-05-16 16:29] DanielJoyce commented on #239
RLS is so unstable as to be unusable. Going to racer for now. Really racer should be the default and RLS the cutting edge option.

[2017-05-16 17:36] jonhoo opened #240 "Disable autocomplete in comments and strings"
Version of VSCode: 1.12.2
Version of the extension: 0.3.14
OS: Arch Linux

Description:
Microsoft/vscode#9504 has a long discussion on the ability to disable autocomplete inside comments, and the issues that arise when you can't. The way I understand it from that vscode issue, extensions need to be "aware" that they are inside a comment, and set the context accordingly. The python VSCode extension

[2017-05-16 19:00] klausi commented on #239
Attached is the output with the rls=debug option.

I don't see anything more verbose about the error in there.

Excerpt:

[code]

[rls-debug.txt](https://github.com/editor-rs/vscode-rust/files/1005523/rls-debug.txt)

[2017-05-17 01:19] jonathandturner opened #242 "Rustup no longer detected"
Version of VSCode: 1.12.2
Version of the extension: 0.3.14
OS: Mac

Description: Rustup is no longer detected with the most recent VSCode

Output of the "Rust logging" channel:
[code]